<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>找回密码</title>
 <!-- CSS -->
<!--  <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=PT+Sans:400,700'>
 <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Oleo+Script:400,700'> -->
<link rel="stylesheet" type="text/css" href="__PUBLIC__/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/register_style.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/assets/css/font-awesome.min.css" />
<!--[if IE 7]>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/assets/css/font-awesome-ie7.min.css" />
<![endif]-->
<!--[if lt IE 9]>
<script type="text/javascript" src="__PUBLIC__/js/html5shiv.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/respond.min.js"></script>
<![endif]-->
<style>
.tips_color{
   color:#a94442;
}
</style>
</head>
<body>
<div class="header">
            <div class="container">
                <div class="row">
				    <div class="col-sm-6">
                    <div class="logo span4">
                        <h1><a href="/MQ/index.html">百果树</a></h1>
                    </div>
					</div>
					<!-- <div class="col-sm-6">
                    <div class="links span8">
                        <a class="home" href="/MQ/index.html" rel="tooltip" data-placement="bottom" data-original-title="首页"><i class="fa fa-home fa-2x"></i></a>
                        <a class="login" href="/MQ/login.html" rel="tooltip" data-placement="bottom" data-original-title="登录"><i class="fa fa-user fa-2x"></i></a>
                    </div>
					</div> -->
                </div>
            </div>
  </div>

		 <div class="register-container container">
            <!-- <div class="row"> -->
                <div class="register span6">
                  <div class="alert alert-warning" style="display:none" id="error">
                      <i class="fa fa-hand-o-right"></i>
                      信息错误，请重新填写
                  </div>
                    <form action="#" method="post" class="form-horizontal" id="findpassword">
                        <h2><span class="blue"><strong>找回密码</strong></span></h2>
						   <div class="form-group">
						       <label for="WbAccount" class="col-sm-2 control-label">账号</label>
							   <div class="col-sm-7">
							      <input type="text" class="form-control"id="WbAccount" name="WbAccount" placeholder="注册后账号名不可修改" >
							   </div>
							   <div class="col-sm-3 tips_color" id="tips" >
							   </div>
						   </div>
						   <input type="hidden" class="form-control"id="register_guid" name="register_guid" value="{$register_guid}" >
						  
						   
			  
						   <div class="form-group">
						       <label for="yzm" class="col-sm-2 control-label">验证码</label>
							   <div class="col-sm-7 ">
							      <input type="text" class="form-control" id="yzm" name="yzm" placeholder="" style="width:30%;display:inline;float:left;" />
						         <input type="button" id="get_yzm" onclick="getyzm()" class="btn btn-primary btn-sm" value="获取手机验证码" style="float:left;margin-left:10px;color:#fff;background:#428bca;border-color: #357ebd;" >
							   </div>
							    <div class="col-sm-3 tips_color" >
							   </div>
						   </div>

                        <button type="submit"><strong>下一步</strong></button>
                    </form>
                </div>
       <!--      </div> -->
        </div>
		<!-- <div align="center">Copyright &copy; 2015 郑州网尚科技有限公司</div> -->
        <!-- Javascript -->
        <script src="__PUBLIC__/js/jquery-1.11.2.js"></script>
        <script src="__PUBLIC__/bootstrap/js/bootstrap.min.js"></script>
        <script src="__PUBLIC__/js/jquery.backstretch.min.js"></script>
        <script src="__PUBLIC__/js/register_scripts.js"></script>
		 <!-- 下面三个是验证使用js -->
		 <script src="__PUBLIC__/validate/card.js"></script>
        <script src="__PUBLIC__/validate/jquery.validate.js"></script>
        <script src="__PUBLIC__/validate/messages_zh.js"></script>
        <script>
		 // 身份证号码验证 
       jQuery.validator.addMethod("isIdCardNo", function(value, element) { 
       return this.optional(element) || idCardNoUtil.checkIdCardNo(value);     
       }, "请正确输入您的身份证号码"); 
	   

		  $().ready(function(){
		     $("#findpassword").validate({
			 rules:{
			    WbAccount:{
				   required: true,
                   minlength: 2,
                   maxlength: 16,
				},
					 
			yzm:{
			  required:true,
			  remote:{
			     type:"post",
				 url:"{:U('CheckPhoneyzm')}",
				 datType:"text",
				 data:{
				    yzm:function(){
					   return $("#yzm").val();
					}
				 }
			  }
			},							
			
			 },
			  messages:{
				 WbAccount:{
                required: "请输入账号",
                minlength: "用户名长度不能小于2个字符",
                maxlength: "用户名长度不能大于16个字符",
               },			   
			yzm:{
			  required:"请输入验证码",
			  remote:"验证码输入有误或超时",
			},			  	
			 },
			 errorPlacement: function(error, element) {    
			    //错误信息位置设置方法  
                 error.appendTo( element.parent().next() ); //这里的element是录入数据的对象  
               }, 
		submitHandler:function(form)
		{
		     var param=$("#findpassword").serialize();
			 var WbAccount= $("#WbAccount").val();
			  $.ajax({
			     url:"{:U('findpassword')}",
				 type:"post",
				 dataType:"json",
				 data:param,
				 success:function(data)
				 {
				    if(data.result=="1")
					{
					    
					   location.href="{:U('public/resetpassword')}?WbAccount="+WbAccount;
					}else if(data.result=="-1")
					{
			
					   
					   alert('信息错误');
					}
									
				 },//success结束
			  })
		},//submitHandler结束
		
		invalidHandler:function(form,validator)
		{
		       
		      return false;
		},//不通过回调
		
		
			 })
		  });//validator结束
		  

		  

		</script>

	<!--	<script>
//向服务器发送“获取验证码的请求”
// $(function(){
//   $('#get_yzm').click(function(){
//      $.ajax({
// 	    type:"post",
// 		url:"GetMobileVerificationCode.psp?tblname=findpassword",
// 		dataType:"json",
// 		data:"Get verification code",
// 		success:function(data){
// 		},
// 	 })
//   })
// })
// </script>-->
<script>
function getyzm(){
   	  var WbAccount=$("#WbAccount").val();
	  var register_guid =$("#register_guid").val();
	  if(WbAccount!=''){
	     showtime(120);
		$.ajax({
	    type:"post",
		url: "{:U('getPhoneVerifycode')}?WbAccount="+WbAccount +"&register_guid="+register_guid,
		dataType:"json",
		data:"Get verification code",
		success:function(data){
			if(data.data==0){
				alert("账号输入错误或短信发送失败");
			}
		}
	 })
	  }else
	  { 
	    alert("请先填写网吧账号")
	  };
}



</script>
<script>
//获取验证码
   function showtime(t){
      $("#get_yzm").addClass("disabled");
	  for(i=1;i<=t;i++){
	     setTimeout("update_p("+i+","+t+")",i*1000);
	  }
   }
   function update_p(num,t){
      if(num==t){
	  $("#get_yzm").val("重新发送");
		 $("#get_yzm").removeClass("disabled");
	  }else{
	     var printnr=t-num;
		$("#get_yzm").val("("+printnr+")秒后重新发送");
	  }
   }
</script>
</body>
</html>
