<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>百果树网吧管理平台</title>
<css href="__PUBLIC__/bootstrap/css/bootstrap.min.css" />
<css href="__PUBLIC__/assets/css/font-awesome.min.css" />
<!--[if IE 7]>
<css href="__PUBLIC__/assets/css/font-awesome-ie7.min.css" />
<![endif]-->
<!--[if lt IE 9]>
<js href="__PUBLIC__/js/html5shiv.min.js" />
<js href="__PUBLIC__/js/respond.min.js" />
<![endif]-->
<js href="__PUBLIC__/js/jquery-1.11.2.js" />
<js href="__PUBLIC__/bootstrap/js/bootstrap.min.js" />
<js href="__PUBLIC__/assets/js/ace-extra.min.js" />
<js href="__PUBLIC__/assets/js/ace.min.js" />
<block name="head"></block>
<css href="__PUBLIC__/assets/css/ace.min.css" />
<css href="__PUBLIC__/assets/css/ace-skins.min.css" />
<!--[if lt IE 9]>
<css href="__PUBLIC__/assets/css/ace-ie.min.css" />
<![endif]-->
<css href="__PUBLIC__/css/common.css" />
<js href="__PUBLIC__/assets/js/ace-elements.min.js" />

<js href="__PUBLIC__/js/common.js" />