<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>找回密码</title>
 <!-- CSS -->
<!--  <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=PT+Sans:400,700'>
 <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Oleo+Script:400,700'> -->
<link rel="stylesheet" type="text/css" href="__PUBLIC__/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/register_style.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/assets/css/font-awesome.min.css" />
<!--[if IE 7]>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/assets/css/font-awesome-ie7.min.css" />
<![endif]-->
<!--[if lt IE 9]>
<script type="text/javascript" src="__PUBLIC__/js/html5shiv.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/respond.min.js"></script>
<![endif]-->
<style>
.tips_color{
   color:#a94442;
}
</style>
</head>
<body>
<div class="header">
            <div class="container">
                <div class="row">
				    <div class="col-sm-6">
                    <div class="logo span4">
                        <h1><a href="{:U('index/index')}">百果树</a></h1>
                    </div>
					</div>
					<!-- <div class="col-sm-6">
                    <div class="links span8">
                        <a class="home" href="" rel="tooltip" data-placement="bottom" data-original-title="首页"><i class="fa fa-home fa-2x"></i></a>
                        <a class="login" href="" rel="tooltip" data-placement="bottom" data-original-title="登录"><i class="fa fa-user fa-2x"></i></a>
                    </div>
					</div> -->
                </div>
            </div>
  </div>

		 <div class="register-container container">
            <!-- <div class="row"> -->
                <div class="register span6">
				     <div class="alert alert-success" style="display:none" id="success">
					    <i class="fa fa-hand-o-right"></i>
						密码重置成功！
					  </div>
					 <div class="alert alert-warning" style="display:none" id="error">
					    <i class="fa fa-hand-o-right"></i>
						密码重置失败！
					 </div>
                    <form action="{:U('resetpassword')}" method="post" class="form-horizontal" id="resetpassword">
                        <h2><span class="blue"><strong>找回密码</strong></span></h2>
						   	
						     
							  
							 <input type="hidden"  class="form-control"id="WbAccount" name="WbAccount" value="{$WbAccount}" />
							 
							
						 
						   <div class="form-group">
						       <label for="NewPassWord" class="col-sm-2 control-label">新登录密码</label>
							   <div class="col-sm-7">
							      <input type="text" class="form-control"id="NewPassWord" name="NewPassWord" placeholder="" >
							   </div>
							   <div class="col-sm-3 tips_color" id="tips" >
							   </div>
						   </div>
 
						   <div class="form-group">
						       <label for="confirm_password" class="col-sm-2 control-label">确认新密码</label>
							   <div class="col-sm-7">
							      <input type="text" class="form-control"id="confirm_password" name="confirm_password" placeholder="" >
							   </div>
							   <div class="col-sm-3 tips_color" >
							   </div>
						   </div>

                        <button type="submit"><strong>提交</strong></button>
                    </form>
                </div>
       <!--      </div> -->
        </div>
<!-- 		<div align="center">Copyright &copy; 2015 郑州网尚科技有限公司</div> -->
        <!-- Javascript -->
        <script src="__PUBLIC__/js/jquery-1.11.2.js"></script>
        <script src="__PUBLIC__/bootstrap/js/bootstrap.min.js"></script>
        <script src="__PUBLIC__/js/jquery.backstretch.min.js"></script>
        <script src="__PUBLIC__/js/register_scripts.js"></script>
		 <!-- 下面三个是验证使用js -->
		 <script src="__PUBLIC__/validate/card.js"></script>
        <script src="__PUBLIC__/validate/jquery.validate.js"></script>
        <script src="__PUBLIC__/validate/messages_zh.js"></script>
        <script>
		  $().ready(function(){
		     $("#resetpassword").validate({
			 rules:{
               NewPassWord:{
               required:true,
               minlength:5,
              },
             confirm_password:{
               required:true,
               minlength:5,
               equalTo:"#NewPassWord"
              },						
			
			 },
			 messages:{
			    NewPassWord:{
				   required:"请输入新登录密码",
				   minlength:"密码长度不能小于5个字符",
				},
				confirm_password:{
				   required:"请确定新密码",
				   minlength:"密码长度不能小于5个字符",
				   equalTo:"两次密码输入不一样"
				},
			 },
			 errorPlacement: function(error, element) {    
			    //错误信息位置设置方法  
                 error.appendTo( element.parent().next() ); //这里的element是录入数据的对象  
               }, 
		submitHandler:function(form){
		     var param=$("#resetpassword").serialize();
			  $.ajax({
			     url:"{:U('resetpassword')}",
				 type:"post",
				 dataType:"json",
				 data:param,
				 success:function(data){
				    if(data.result=="1")
					{
					   $("#success").show(2000,function(){
					      setTimeout('$("#success").hide(2000)',2000)
					   });
					      setTimeout('location.href="{:U('login')}"',2000)
					}else if(data.result=="-1"){
					   $("#error").show(2000,function(){
					      setTimeout('$("#error").hide(2000)',2000)
					   })
					}
					
					
				 }//success结束
			  })
		},//submitHandler结束
		
		   invalidHandler:function(form,validator){
		      return false;
		   },//不通过回调
		
		
			 })
		  });//validator结束
		  

		  

		</script>

		
</body>
</html>
