<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>百果树网吧管理平台</title>
		<css href="__PUBLIC__/bootstrap/css/bootstrap.min.css" />
		<css href="__PUBLIC__/assets/css/font-awesome.min.css" />
		<!--[if IE 7]>
		<css href="__PUBLIC__/assets/css/font-awesome-ie7.min.css" />
		<![endif]-->
		<!--[if lt IE 9]>
		<js href="__PUBLIC__/js/html5shiv.min.js" />
		<js href="__PUBLIC__/js/respond.min.js" />
		<![endif]-->
		<js href="__PUBLIC__/js/jquery-1.11.2.js" />
		<js href="__PUBLIC__/bootstrap/js/bootstrap.min.js" />
		<js href="__PUBLIC__/assets/js/ace-extra.min.js" />
		<js href="__PUBLIC__/assets/js/ace.min.js" />
		
		<css href="__PUBLIC__/assets/css/ui.jqgrid.css" />
		<js href="__PUBLIC__/assets/js/jqgrid/jquery.jqGrid.js" />
		<js href="__PUBLIC__/assets/js/jqgrid/i18n/grid.locale-cn.js" />
		<js href="__PUBLIC__/echarts/echarts.common.min.js" />
		<js href="__PUBLIC__/layer/layer.js" />
		
		<css href="__PUBLIC__/assets/css/ace.min.css" />
		<css href="__PUBLIC__/assets/css/ace-skins.min.css" />
		<!--[if lt IE 9]>
		<css href="__PUBLIC__/assets/css/ace-ie.min.css" />
		<![endif]-->
		<css href="__PUBLIC__/css/common.css" />
		<js href="__PUBLIC__/assets/js/ace-elements.min.js" />

		<js href="__PUBLIC__/js/common.js" />
	</head>

	<body>
		<div class="navbar navbar-default" id="navbar">
			<div class="navbar-container" id="navbar-container">
				<div class="navbar-header pull-left">
					<a href="{:U('Index/index')}" class="navbar-brand" style="height:auto;">
						<small> <i class="fa fa-leaf"></i> 百果树网吧管理平台
						</small>
					</a>		
				</div>		
				
				 <audio src="{$shengyinurl}" controls="controls" id="audio" style="display:none;">
				</audio>
				<div class="navbar-header pull-right" role="navigation">
					<ul class="nav ace-nav">
					<li class="white" style="padding-right:20px;">
							 代理商:{$agent_realname} 授权到期时间：{:session('endtime')}
							</li>
					 <li class="purple">
							 <a  href="{:U('chaoshi/kehuduan')}"> 

								<i class="fa fa-bell icon-animated-bell" style="font-size:16px;width:20px;"></i>
								<span class="badge badge-important" id="dailing_count">{$dai_lingqu_num}</span>
							</a>

						</li>
						
						<script>
						
						   setInterval(get_dailing_count,30000);
						   function get_dailing_count()
						   {
							  						 
											 
								$.post("{:U('Common/get_neworder_list')}",'',function(data)
								{
									if(data.status==1)
									{   
										var dailing_count_str = data['count'];
										$('#dailing_count').html(dailing_count_str);
										var audioEle = document.getElementById("audio");
										audioEle.play();    //播放							
									}else(data.status==2)
									{
										  var dailing_count_str = data['count'];
										$('#dailing_count').html(dailing_count_str);
									}

								})
																											 
						   }
						   
						</script>
						<li class="light-blue">
							<a data-toggle="dropdown" href="#" class="dropdown-toggle">
								<img class="nav-user-photo" src="__PUBLIC__/assets/avatars/avatar.png" />		
								<span class="user-info" style="max-width:none;"><small>欢迎光临,</small>{:session('realname')}</span><i class="fa fa-caret-down"></i>
							</a>
							<ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
								<eq name="Think.session.superadmin" value="1">
									<li><a href="javascript:void(0);" id="empty_cache"><i class="fa fa-trash"></i>清除缓存</a></li>
									<script>
									$(function(){
										$('#empty_cache').click(function(){
											if(confirm('是否要清空缓存？')){
												$.get("{:U('Common/empty_cache')}",'',function(data){
													if(data.status){
														alert('清空缓存成功！');
													}else{
														alert('未知错误！');
													}
												})
											}
										})
									})
									</script>
									<li><a href="{:U('Common/changeUserId',array('id'=>346))}"><i class="fa fa-user"></i>转为SA</a></li>
								</eq>
								<eq name="Think.session.roleid" value="3"><li><a href="{:U('Agent/edit',array('agent_id'=>D('User')->getAgentIdByUserId(session('userid'))))}"><i class="fa fa-info-circle"></i>修改信息</a></li></eq>
								<li><a href="{:U('user/passedit')}"><i class="fa fa-cog"></i>修改密码</a></li>
								<li class="divider"></li>
								<li><a href="{:U('Public/logout')}"><i class="fa fa-power-off"></i>退出</a></li>
							</ul>
						</li>
					</ul>	
				</div>		
			</div>		
		</div>
		
		
		
		

		<div class="main-container" id="main-container">
			<script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
			</script>

			<div class="main-container-inner">
				<a class="menu-toggler" id="menu-toggler" href="#">
					<span class="menu-text"></span>
				</a>

				<div class="sidebar" id="sidebar">

						<div class="sidebar-shortcuts" id="sidebar-shortcuts">
							<div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
								<button class="btn btn-success"><i class="fa fa-signal fa-lg"></i></button>
								<button class="btn btn-info"><i class="fa fa-pencil fa-lg"></i></button>
								<button class="btn btn-warning"><i class="fa fa-group fa-lg"></i></button>
								<button class="btn btn-danger"><i class="fa fa-cogs fa-lg"></i></button>
							</div>
							<div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
								<span class="btn btn-success"></span>
								<span class="btn btn-info"></span>
								<span class="btn btn-warning"></span>
								<span class="btn btn-danger"></span>
							</div>
						</div>	<!-- #sidebar-shortcuts -->

					<ul class="nav nav-list">
						<li class="active">
							<a href="{:U('index')}">
								<i class="fa fa-dashboard fa-lg"></i>
								<span class="menu-text"> 控制台 </span>
							</a>
						</li>

						<li>
							<a href="{:U('payKhdWx')}">
								<i class="fa fa-desktop fa-lg"></i>
								<span class="menu-text"> 客户端微信支付 </span>
							</a>
						</li>

						<li>
							<a href="{:U('payZfb')}">
								<i class="fa fa-tags fa-lg"></i>
								<span class="menu-text"> 支付宝支付 </span>
							</a>
						</li>

						<li>
							<a href="{:U('payWx')}">
								<i class="fa fa-tags fa-lg"></i>
								<span class="menu-text"> 微信支付 </span>
							</a>
						</li>



					</ul><!-- /.nav-list -->

					<div class="sidebar-collapse" id="sidebar-collapse">
						<i class="fa fa-angle-double-left fa-lg icon-" data-icon1="fa fa-angle-double-left fa-lg" data-icon2="fa fa-angle-double-right fa-lg"></i>
					</div>

					<script type="text/javascript">
						try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
					</script>
				</div>

				<div class="main-content">
					<div class="breadcrumbs" id="breadcrumbs">
						<script type="text/javascript">
							try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
						</script>

						<ul class="breadcrumb">
							<li>
								<i class="icon-home home-icon"></i>
								<a href="#">首页</a>
							</li>
							<li class="active">控制台</li>
						</ul><!-- .breadcrumb -->


					</div>

					<div class="page-content">
						<div class="page-header">
							<h1>
								控制台
								<small>
									<i class="icon-double-angle-right"></i>
									 查看
								</small>
							</h1>
						</div><!-- /.page-header -->

						<div class="row">
							<div class="col-xs-12">

 
 	   								<div class="row">


									<div class="col-xs-6 col-sm-4 pricing-box">
										<div class="widget-box">
											<div class="widget-header header-color-orange">
												<h5 class="bigger lighter">网站服务器</h5>
											</div>

											<div class="widget-body">
												<div class="widget-main">
													<ul class="list-unstyled spaced2">
														<li>
															<i class="fa fa-check green"></i>
															客户端微信支付：200.00元
														</li>

														<li>
															<i class="fa fa-check green"></i>
															支付宝支付：522.51元
														</li>

														<li>
															<i class="fa fa-check green"></i>
															微信支付：2322.20元
														</li>




													</ul>

													<hr />
													<div class="price">
														2256.00
														<small>/元</small>
													</div>
												</div>

												<div>
											
													<a href="http://web.wbzzsf.com/index.php/public/login_fu.html?username=ght" class="btn btn-block btn-warning">
														<i class="icon-shopping-cart bigger-110"></i>
														<span>查看详细</span>
													</a>
												</div>
											</div>
										</div>
									</div>

									<div class="col-xs-6 col-sm-4 pricing-box">
										<div class="widget-box">
											<div class="widget-header header-color-blue">
												<h5 class="bigger lighter">老刘哥服务器</h5>
											</div>

											<div class="widget-body">
												<div class="widget-main">
													<ul class="list-unstyled spaced2">
														<li>
															<i class="fa fa-check green"></i>
															客户端微信支付：200.00元
														</li>

														<li>
															<i class="fa fa-check green"></i>
															支付宝支付：522.51元
														</li>

														<li>
															<i class="fa fa-check green"></i>
															微信支付：2322.20元
														</li>



													</ul>

													<hr />
													<div class="price">
														2256.00
														<small>/元</small>
													</div>
												</div>

												<div>
													<a href="#" class="btn btn-block btn-primary">
														<i class="icon-shopping-cart bigger-110"></i>
														<span>查看详细</span>
													</a>
												</div>
											</div>
										</div>
									</div>

									<div class="col-xs-6 col-sm-4 pricing-box">
										<div class="widget-box">
											<div class="widget-header header-color-green">
												<h5 class="bigger lighter">联通机房服务器</h5>
											</div>

											<div class="widget-body">
												<div class="widget-main">
													<ul class="list-unstyled spaced2">
														<li>
															<i class="fa fa-check green"></i>
															客户端微信支付：200.00元
														</li>

														<li>
															<i class="fa fa-check green"></i>
															支付宝支付：522.51元
														</li>

														<li>
															<i class="fa fa-check green"></i>
															微信支付：2322.20元
														</li>




													</ul>

													<hr />
													<div class="price">
														2256.00
														<small>/元</small>
													</div>
												</div>

												<div>
													<a href="#" class="btn btn-block btn-success">
														<i class="icon-shopping-cart bigger-110"></i>
														<span>查看详细</span>
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>


	

							

	

								
								
								


							</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.page-content -->
				</div><!-- /.main-content -->

			</div><!-- /.main-container-inner -->

			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="icon-double-angle-up icon-only bigger-110"></i>
			</a>
		</div><!-- /.main-container -->



</body>
</html>

