<extend name="Public/base" />

<block name="head">
    <css href="__PUBLIC__/assets/css/ui.jqgrid.css" />
    <js href="__PUBLIC__/assets/js/jqgrid/jquery.jqGrid.js" />
    <js href="__PUBLIC__/assets/js/jqgrid/i18n/grid.locale-cn.js" />
    <css href="__PUBLIC__/bootstrap/daterangepicker/daterangepicker-bs3.css" />
    <js href="__PUBLIC__/bootstrap/daterangepicker/moment.min.js" />
    <js href="__PUBLIC__/bootstrap/daterangepicker/daterangepicker.js" />
     <js href="__PUBLIC__/layer/layer.js" />
	<style>
	   .mgb15{margin-bottom:15px;}
	   .labelbold{font-weight:bold;
	   }

	   @media (min-width: 992px) {
		  .modal-lg {
			width: 700px;
		  }
		}
	</style>
</block>

<block name="content">
<div class="row search-bar" >










</div>

    <div id="jqgrid">
        <table id="grid-table"></table>
        <div id="grid-pager"></div>
    </div>


</block>




<block name="script">
      <script>
        $(function(){
            $('#grid-table').jqGrid({
                url: '{:U("getSpIniinfo")}',
                datatype: "json",
                type:"post",
                height:"100%",
                autowidth:true,
                shrinkToFit:true,
                colModel:[

                    {label:'网吧ID',name:'Wb_id',width:50,},
                    {label:'收银端ID',name:'Syid',width:120},
                    {label:'收银端名称',name:'syname',width:70},
                    {label:'收银端Ip',name:'Ip',width:70},
                    {label:'操作',name:'operate',width:60},
                ],
                styleUI : 'Bootstrap',
                rowNum:10,
                pager:'#grid-pager',
                viewrecords: true,
                  gridComplete: function()
                  {
                     var ids = $("#grid-table").jqGrid('getDataIDs');
                                 
                      for(var i=0;i < ids.length;i++)                     
                      {
                        var rownum = ids[i];
                          var getRow = $('#grid-table').getRowData(ids[i]);//获取当前的数据行  
                          var wbid = getRow.Wb_id; 
                          var syid = getRow.Syid;             
                                                                                                                             
                          edit= '<a href={:U('syidedit')}?wbid='+wbid+'&syid='+syid+'>操作</a>';                            
                          $("#grid-table").jqGrid('setRowData',ids[i],{operate:edit});
                      }
                  }


                
            });



            $(window).resize(function(){
                $('#grid-table').jqGrid('setGridWidth', $('#jqgrid').width(), true);
            });
        });

       $('#daterange').val(moment().subtract('days', 29).startOf('day').format('YYYY-MM-DD HH:mm:ss') + ' - ' + moment().format('YYYY-MM-DD HH:mm:ss'));
            $('.daterange').daterangepicker({
                format:'YYYY-MM-DD hh:mm:ss',
                timePicker: true,
                timePickerIncrement: 1,
                timePickerSeconds:true,
                startDate:moment().startOf('day'),  
                endDate: moment(),
                timePicker12Hour:false,     
                ranges: {  
                           '今天': [moment().startOf('day'), moment().endOf('day')],  
                           '昨天': [moment().subtract('days', 1).startOf('day'), moment().subtract('days', 1).endOf('day')],  
                           '最近7天': [moment().subtract('days', 6).startOf('day'), moment().endOf('day')],  
                           '最近30天': [moment().subtract('days', 29).startOf('day'), moment().endOf('day')],  
                           '本月': [moment().startOf('month'), moment().endOf('month')],  
                           '上月': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]  
                        },        
                locale:{
                    applyLabel:'确定',
                    cancelLabel:'取消',
                    fromLabel:'从',
                    toLabel:'至',
                    daysOfWeek:['周日','周一','周二','周三','周四','周五','周六'],
                    monthNames:['一月','二月','三月','四月','五月','六月','七月','八月','九月','十月','十一月','十二月'],
          customRangeLabel: '自定义',
          firstDay : 1
                }

            },function(start,end,label){
      $('#daterange').val(start.format('YYYY-MM-DD HH:mm:ss') + ' - ' + end.format('YYYY-MM-DD HH:mm:ss'));
      });

        function doSearch(){
            $('#grid-table').jqGrid('setGridParam',{
                postData:{
                    daterange:$('#daterange').val(),
                    tx_status:$('#tx_status').val(),
                }
            }).trigger('reloadGrid');
        }

    </script>
  
<script>
 function checkform(){
    var daterange=$("#daterange").val();
  if(daterange==""||daterange=="请选择日期")
  {
     // alert("请选择日期");
            layer.msg('请选择日期', {
                  offset: 0,
                  shift: 6
                });

     return false;
  }
  return true;
 }

</script>
</block>