<extend name="Public/base" />

<block name="head">
    <css href="__PUBLIC__/jquery-ui/jquery-ui.min.css" />
    <js href="__PUBLIC__/jquery-ui/jquery-ui-1.11.2.min.js" />
    <js href="__PUBLIC__/layer/layer.js" />
    <js href="__PUBLIC__/layer/myalert.js" />
  <css href="__PUBLIC__/layer/myalert.css"/>
    <style>
        #ratehead {float:left; list-style-type: none; width:918px; margin:0;}
        #ratehead li {height:20px; width:37px; float:left; background-color: #669; color:white; text-align:center;}
        #rateweek {float:left; margin:0;}
        #rateweek li {width:30px; height:25px; border:1px solid #999;}
        #selectable {float:left; list-style-type: none; width:888px; margin:0;}
        #selectable li {height:25px; width:37px; float:left; border:1px solid #999; text-align:center;}
        #selectable .ui-selecting {background-color:#feca40;}
        #selectable .ui-selected {background-color:#f39814; color:white;}
        #ratesetting {width:220px; height:90px; display:none; position:fixed; z-index:11;}
		.bg0{background:#3c763d;color:#fff;}
		.bg1{background:#337ab7;color:#fff;}
		.bg2{background:#31708f;color:#fff;}
		.bg3{background:#8a6d3b;color:#fff;}
		.bg4{background:#a94442;color:#fff;}
		.bg5{background:#d6487e;color:#fff;}
		.bg6{background:#7461aa;color:#fff;}
		.bg7{background:#a0a0a0;color:#fff;}
		.bg8{background:#fee188;color:#fff;}
    </style>
</block>

<block name="content">


    <div class="tabbable">
        <include file="nav" />
        <div class="tab-content">
            <div class="tab-pane active">
                <div class="row">
                    <div class="col-sm-2">
                        <h4 class="header">区域选择</h4>
                        <div class="list-group" id="district-list">
                            <volist name="districtlist" id="district">
                                <a class="list-group-item" id="district-{$district.id}" href="javascript:getRate(type,{$district.id});">{$district.GroupName}</a>
                            </volist>
                        </div>
                    </div>
                    <div class="col-sm-10">
                        <h4 class="header">费率设置</h4>
                        <div class="tabbable">
                            <ul class="nav nav-tabs" id="type-list">
                                <volist name="viptypelist" id="viptype">
                                    <li id="type-{$viptype.id}"><a href="javascript:getRate({$viptype.id})">{$viptype.Name}</a></li>
                                </volist>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <form id="rateconfig" style="margin-bottom:20px;">
                                                起价：<input type="text" name="startprice" id="startprice" onkeyup="return priceValidate('startprice','起价输入格式有误，请重新输入')" style="width:50px;" value="1.0" />元
                                                最小收费：<input type="text" id="minprice" onkeyup="return priceValidate('minprice','最小收费输入格式有误，请重新输入')" name="minprice" style="width:50px;" value="0.5" />
                                               <!--  <select id="minprice-select">
                                                    <option value="0.05">0.05</option>
                                                    <option value="0.1">0.1</option>
                                                    <option value="0.5">0.5</option>
													    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="5">5</option>
													    <option value="10">10</option>
                                                </select> -->元
                                                忽略时间：<input type="text" name="ignoreminute" id="ignoreminute" onkeyup="return integerValidate('ignoreminute','忽略时间输入格式有误，请重新输入')" style="width:50px;" value="3" />分钟
                                                <label><input type="radio" name="enable_hour" value="half" />半点有效</label>
                                                <label><input type="radio" name="enable_hour" value="integral" checked />整点有效</label>
                                                <button type="button" class="btn btn-success btn-sm" onclick="submitRateConfig();" style="height:30px;">确定</button>
                                            </form>
                                            <div style="width:920px;height:195px;border:1px solid #999;margin-bottom:1px;">
                                                <ul id="ratehead" onselectstart="javascript:return false;">
                                                    <li style="width:30px;">时间</li>
                                                    <for start="0" end="24">
                                                        <li>{$i}</li>
                                                    </for>
                                                </ul>
                                                <ul id="rateweek" onselectstart="javascript:return false;">
                                                    <li>周日</li>                                                  
                                                    <li>周一</li>
													<li>周二</li>
                                                    <li>周三</li>
                                                    <li>周四</li>
                                                    <li>周五</li>
                                                    <li>周六</li>
                                                </ul>
                                                <ul id="selectable" onselectstart="javascript:return false;">

                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="ratesetting" style="display:none;">
        <div class="widget-box">
            <div class="widget-header">
                <h5>费率设置</h5>
            </div>
            <div class="widget-body">
                <div class="widget-main">
                    价格设置：<input type="text" id="flprice" onkeyup="return priceValidate('flprice','费率价格设置格式有误，请重新输入')" style="width:50px;" /> 元/小时
                    <div style="margin-top:10px;">
                        <button type="button" class="btn btn-success btn-sm" onclick="submitRate();" style="margin-left:20px;margin-right:20px;">确定</button>
                        <button type="button" class="btn btn-default btn-sm" onclick="$('#ratesetting').hide();">取消</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>

<block name="script">
    <script>
        $(function(){
            getRate({$viptypelist.0.id},{$districtlist.0.id});
            $('#selectable').selectable({
                stop:function(e)
				{
                    select_result = new Array();
                    $('.ui-selected').each(function(){
                        var index = $('#selectable li').index(this);
                        select_result.push(index);
                    });
                    $('#ratesetting').show().css({
                        left: e.pageX,
                        top: e.pageY
                    });
                    $('#ratesetting input').val($('.ui-selected:last').text()).select();
                }
            });
            $('#minprice-select').change(function(){
                $('#minprice').val($('#minprice-select').val())
            })
        });
        var select_result;
        var district = 0;
        var type = 0;
        function getRate(){
		
            type = arguments[0] !== undefined ? arguments[0] : 0;
            district = arguments[1] !== undefined ? arguments[1] : $('#district-list .active').attr('id').split('-')[1];
            $.get("{:U('getRate')}",{type:type,district:district},function(jsondata){              	
                var data=jsondata;
                if(data.result=='1')
				{		
                    var rate = '';
					for(var index in data.rate)
					{				  
					  for(var i=0;i<data.pricelist.length;i++)
					   {
						   if(data.rate[index]==data.pricelist[i])
						   {
							   rate += '<li class=\"bg'+i+'\">' + data.rate[index] + '</li>'; 
							   break;   
						   }
						   else
						   {
						    
						   }
                        }
                    }
			
                    $('#selectable').html(rate);
					
                    $('#rateconfig input[name="startprice"]').val(data.startprice);
                    $('#rateconfig input[name="minprice"]').val(data.minprice);
                    $('#rateconfig input[name="ignoreminute"]').val(data.ignoreminute);
					
                    if(data.enable_hour == '1')
					{
                        $('#rateconfig input[name="enable_hour"][value="half"]').prop('checked',true);
                    }
					else
					{
                        $('#rateconfig input[name="enable_hour"][value="integral"]').prop('checked',true);
                    }
                }else
				{
                    myalertdanger('费率加载错误');
                }
            });
            $('#district-list a').removeClass('active');
            $('#district-'+district).addClass('active');
            $('#type-list li').removeClass('active');
            $('#type-'+type).addClass('active');
        }
        function submitRate(){
            $.post("{:U('setRate')}",{district:district,viptype:type,time:select_result,rate:$('#ratesetting input').val()},function(data){
                if(data.status) {
                    myalertsuccess_norefresh('操作成功，请点击右侧 "更新重启网吧服务端"。');
                   
                    $('#ratesetting').hide();
                    getRate(type,district)
                }else{
                    myalertdanger('操作失败，请重新操作。');
                }
            });
        }
        function submitRateConfig(){
            $.post("{:U('setRateConfig')}",$('#rateconfig').serialize()+'&district='+district+'&viptype='+type,function(data){
                if(data.status) {
                     myalertsuccess_norefresh('操作成功，请点击右侧 "更新重启网吧服务端"。');
                    getRate(type,district)
                }else{
                    myalertdanger('操作失败，请重新操作。');
                }
            })
        }


function priceValidate(id,msg){
var num=/^([1-9][0-9]{0,7}|0)(\.[0-9]{0,2})?$/;
var value=$('#'+id).val();
	if(!(num.test(value)))
	{
	  $('#'+id).val("");
	  myalertdanger(msg);

	}
}
function integerValidate(id,msg){
    var num=/^\d*$/;
	var value=$('#'+id).val();
    if(!(num.test(value)))
	{
	  $('#'+id).val(0);
	  myalertdanger(msg);
	  
	}		
}

    </script>
</block>