<extend name="Public/base" />

<block name="head">
<js href="__PUBLIC__/layer/layer.js" />
    <js href="__PUBLIC__/layer/myalert.js" />
  <css href="__PUBLIC__/layer/myalert.css"/>
</block>

<block name="content">
<button type="button" class="btn btn-primary btn-sm"  onclick="restart_server()" style="float:right;">更新重启网吧服务端</button>
<div style="margin-bottom:15px;">
	<button type="button" onclick="addygz()" class="btn btn-sm">添加员工组</button>
</div>
<div class="table-responsive">
	<table class="table table-striped table-bordered table-hover">
		<thead>
			<tr>
				<th>工作人员组</th>
				<th>组内成员数</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
             
<!-- 				<tr>
					<td>老板组</td>
					<td>1</td>
					<td>老板组拥有全部操作权限</td>
				</tr> -->
				 <volist name="yggrouplist" id="yggroup">
					<tr>
						<td id="yggroup-{$yggroup.role_id}">{$yggroup.role_name}</td>
						<td>{$yggroup.usernum_ght}</td>
					<!-- 	<td><a href="{:U('ygz_edit',array('id'=>$ygz['ygz_id']))}">员工组权限设置</a>  <a href="{:U('ygz',array('id'=>$ygz['role_id'],'action'=>'del'))}" class="delete">删除组</a></td> -->
						<td><a href="#" onclick="yggroup_edit({$yggroup.role_id})">员工组权限设置</a>  <a class="delete" href="javascript:delete_yggroup({$yggroup.role_id});"  >删除</a></td>


					</tr>
				</volist>
		</tbody>
	</table>
</div>

<div style="margin-bottom:15px;">
   <button type="button" onclick="yg_add()" class="btn btn-sm">添加员工</button>
</div>
<div class="table-responsive">
	<table class="table table-striped table-bordered table-hover">
		<thead>
			<tr>
				<!-- <th>姓名</th> -->
				<th>账号</th>
				<th>所在组</th>
				<!-- <th>身份证号</th> -->
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
                <volist name="yglist" id="yg">
					<tr>
						<td id="yg-{$yg.id}">{$yg.name}</td>
						<td >{$yg.group_name}</td>  
						<!-- <td><a href="{:U('yg_edit',array('id'=>$yg['group_id']))}">修改</a>  <a href="{:U('yg_del',array('id'=>$yg['group_id']))}" class="delete">删除</a></td> -->
						<td><a href="#" onclick="yg_edit({$yg.id})">修改</a>  <a  class="delete" href="javascript:delete_yg({$yg.id});"  >删除</a></td>

						
					</tr>
				</volist>

		</tbody>
	</table>
</div>
</block>

<block name="script">
<script>
 function addygz()
{    
  layer.open({
  type: 2,
  title: '新增员工组',
  maxmin: true,
  shadeClose: true, //点击遮罩关闭层
  area : ['1120px' , '570px'],
  content: '{:U("Rate/add_yg_group")}',
  });
}


 function yggroup_edit(id)
{    


      var groupname_str=$('#yggroup-'+id).text();
      if(groupname_str=='老板组')
      {
        myalertdanger('此分组禁止修改');
        return;
      } 


  layer.open({
  type: 2,
  title: '修改员工组',
  maxmin: true,
  shadeClose: true, //点击遮罩关闭层
  area : ['1120px' , '570px'],
  content: '{:U("Rate/yggroup_edit")}?id='+id,
  });
}

 function yg_edit(id)
{    
  layer.open({
  type: 2,
  title: '修改员工信息',
  maxmin: true,
  shadeClose: true, //点击遮罩关闭层
  area : ['500px' , '300px'],
  content: '{:U("Rate/edit_yg")}?id='+id,
  });
}


 function yg_add()
{    
  layer.open({
  type: 2,
  title: '添加员工',
  maxmin: true,
  shadeClose: true, //点击遮罩关闭层
  area : ['500px' , '300px'],
  content: '{:U("Rate/add_yg")}',
  });
}




function delete_yg(yg_id)
{
	var ygid=yg_id;

        layer.confirm('确定要删除"'+$('#yg-'+ygid).text()+'"么？',{icon:3,title:'提示'},function(index){
         $.post("{:U('delete_yg')}",{oper:'del',ygid:ygid},function(data)
         {
                        if(data.result==1){
                          myalertsuccess('操作成功，请点击右侧 "更新重启网吧服务端"。');
                           
                        }else{
                          myalertdanger('删除失败,请重新操作');
                        }
                    });
           layer.close(index);
        }) 


}

function delete_yggroup(yggroup_id)
{
	var yggroupid=yggroup_id;

      var groupname_str=$('#yggroup-'+yggroupid).text();
      if(groupname_str=='老板组')
      {
        myalertdanger('此分组禁止删除');
        return;
      } 

        layer.confirm('确定要删除"'+$('#yggroup-'+yggroupid).text()+'"么？',{icon:3,title:'提示'},function(index){
         $.post("{:U('delete_yggroup')}",{oper:'del',yggroupid:yggroupid},function(data)
         {
                        if(data.result==1){
                          myalertsuccess('操作成功，请点击右侧 "更新重启网吧服务端"。');
                           
                        }else{
                          myalertdanger('删除失败,请重新操作');
                        }
                    });
           layer.close(index);
        })
}


function restart_server()
{
       
    $.post("{:U('post_restart_server')}",{tablename:'WUsertable'},function(data)
    {
        if(data.result==1)
        {
            myalertsuccess('重启成功');


        }
        else if(data.result==-1)
        {
          myalertdanger('重启失败');
            
        }
    });                   
}




</script>
</block>