<extend name="Public/base" />

<block name="head">
    <css href="__PUBLIC__/assets/css/ui.jqgrid.css" />
    <js href="__PUBLIC__/assets/js/jqgrid/jquery.jqGrid.js" />
    <js href="__PUBLIC__/assets/js/jqgrid/i18n/grid.locale-cn.js" />
    <css href="__PUBLIC__/bootstrap/daterangepicker/daterangepicker-bs3.css" />
    <js href="__PUBLIC__/bootstrap/daterangepicker/moment.min.js" />
    <js href="__PUBLIC__/bootstrap/daterangepicker/daterangepicker.js" />
	<js href="__PUBLIC__/layer/layer.js" />
	<style>
	   .mgb15{margin-bottom:15px;}
	   .labelbold{font-weight:bold;
	   }
       .biaodan{float:left;padding-left:15px;}
	   @media (min-width: 992px) {
		  .modal-lg {
			width: 700px;
		  }
		}
	</style>
</block>

<block name="content">
<div class="row search-bar" >
  <div class="col-sm-12">
 <div class="alert alert-warning bolder">总收入金额 <span class="orange" id="summoney">0.00</span> 元&nbsp;&nbsp;&nbsp;总退款金额 <span class="orange" id="refund">0.00</span>元</div> </div>
	<form >

      <span class="mgb15 biaodan" style="width:380px;">
              <span class="input-group" >
                <input class="form-control daterange" name="daterange" id="daterange" type="text" placeholder="请选择日期"  value="" />
                <span class="input-group-addon">
                  <i class="fa fa-calendar"></i>
                </span>
              </span>
     </span>

      <span class="mgb15 biaodan" >
               <input name="sOrderNo" id="sOrderNo" type="text" class="form-control"  placeholder="商户订单号" />
               
     </span>
	 
	  <!-- <span class="mgb15 biaodan" > -->
               <!-- <input name="sHyCardNo" id="sHyCardNo" type="text" class="form-control"  placeholder="会员卡号" /> -->
               
     <!-- </span> -->



    <span class="mgb15 biaodan" style="width:300px;">交易金额
      <input type="text" name="min_amount" id="min_amount"  style="width:85px;" />
      <span style="padding:0 4px;">至</span>
      <input type="text" name="max_amount" id="max_amount"  style="width:85px;" />
    </span>

		<span class="mgb15 biaodan" ><button type="button" class="btn btn-purple btn-sm" onclick="doSearch()">搜索<i class="fa fa-search"></i></button></span>
		<!-- <span class="mgb15 biaodan" ><a class="btn btn-sm btn-primary" id="print" onclick="doPrint()" href="" >导出<i class="fa fa-print" style="font-size:16px;"></i></a></span> -->
    <script>

    function doPrint(){
    var daterange=$('#daterange').val();
	var sContent=$('#sContent').val();
    <!-- var trade_status=$('#trade_status').val(); -->
	var min_amount=$('#min_amount').val();
    var max_amount=$('#max_amount').val();
    $("#print").attr('href',"{:U('Api/expwxpay')}?daterange="+daterange+"&sContent="+sContent+"&trade_status="+trade_status+"&min_amount="+min_amount+"&max_amount="+max_amount);
    }

    </script>
	</form>
</div>
<div id="jqgrid">
    <table id="grid-table"></table>
    <div id="grid-pager"></div>
</div>


</block>




<block name="script">
    <script>
        $(function(){
            $('#grid-table').jqGrid({
                url:'{:U("getdingdinginfo")}',
                datatype:'json',
                height:"100%",
                autowidth:true,
                colNames:['交易时间','商户订单号','会员卡号','充值金额(元)','赠送金额(元)','加钱状态',],
                colModel:[
                    {name:'dtInsertTime',editable:true,},               
                    {name:'post_order_no',editable:true},
                    {name:'hycardno',editable:true},
                    {name:'chongje',editable:true},
                    {name:'songje',editable:true},
                    {name:'pay_status',editable:true},  
                
                ],
                rowNum:15,
                viewrecords: true,
				sortorder: "desc",
                pager:'#grid-pager',
                loadComplete:function(data)
                { //完成服务器请求后，回调函数 
                    
                    $("#summoney").html(data['pay_sum']);
                    $("#refund").html(data['refund_sum']);                  
                 }, 

                gridComplete: function(data)
                {
                      // alert(data['pay_sum']);
                      // $("#summoney").html(data['pay_sum']);
                      // $("#refund").html(data['refund_sum']);

                    // var ids = $("#grid-table").jqGrid('getDataIDs');
                    // var add,edit,save,del = '';
                    // var s_status='';

                    // for(var i=0;i < ids.length;i++)                   	
                    // {
                    // 	var rownum = ids[i];
                    //     var getRow = $('#grid-table').getRowData(ids[i]);//获取当前的数据行  
                    //     var wbid = getRow.wbid;
                    //     var sBarName = getRow.sBarName;   
                    //     var nOnlineStatus = getRow.nOnlineStatus; 
      
           
 
                                                
                    //     $("#grid-table").jqGrid('setRowData',ids[i],{opera:edit,nOnlineStatus:col_nOnlineStatus,sBarName:wbnamemodal,nSoftStatus:col_nSoftStatus,nBusinessStatus:col_nBusinessStatus});
                    // }

                }
            }).jqGrid('navGrid','#grid-pager',{
                add:false,
                edit:false,
                del:false,
                refresh:false,
                // searchtext:'高级搜索',
                // searchtitle:'高级搜索'
            },{},{},{},{
                multipleSearch:true
            });
            $(window).resize(function(){
                $('#grid-table').jqGrid('setGridWidth', $('#jqgrid').width(), true);
            });
        });
		
	$('#daterange').val(moment().subtract('days', 29).startOf('day').format('YYYY-MM-DD HH:mm:ss') + ' - ' + moment().format('YYYY-MM-DD HH:mm:ss'));
	$('.daterange').daterangepicker({
		format:'YYYY-MM-DD hh:mm:ss',
		timePicker: true,
		timePickerIncrement: 1,
		timePickerSeconds:true,
		startDate:moment().startOf('day'),  
		endDate: moment(),
		timePicker12Hour:false,			
		ranges: {  
				   '今天': [moment().startOf('day'), moment().endOf('day')],  
				   '昨天': [moment().subtract('days', 1).startOf('day'), moment().subtract('days', 1).endOf('day')],  
				   '最近7天': [moment().subtract('days', 6).startOf('day'), moment().endOf('day')],  
				   '最近30天': [moment().subtract('days', 29).startOf('day'), moment().endOf('day')],  
				   '本月': [moment().startOf('month'), moment().endOf('month')],  
				   '上月': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]  
				},				
		locale:{
			applyLabel:'确定',
			cancelLabel:'取消',
			fromLabel:'从',
			toLabel:'至',
			daysOfWeek:['周日','周一','周二','周三','周四','周五','周六'],
			monthNames:['一月','二月','三月','四月','五月','六月','七月','八月','九月','十月','十一月','十二月'],
			customRangeLabel: '自定义',
			firstDay : 1
		}

	},function(start,end,label){
	$('#daterange').val(start.format('YYYY-MM-DD HH:mm:ss') + ' - ' + end.format('YYYY-MM-DD HH:mm:ss'));
	}).next().click(function(){$(this).prev().focus();});

    function doSearch(){
    $('#grid-table').jqGrid('setGridParam',{
        postData:{
            daterange:$('#daterange').val(),
            <!-- trade_status:$('#trade_status').val(), -->
            min_amount:$('#min_amount').val(),
            max_amount:$('#max_amount').val(),
            <!-- sHyCardNo:$('#sHyCardNo').val(), -->
			sOrderNo:$('#sOrderNo').val()
   
        
        }
    }).trigger('reloadGrid');
   }

   </script>
</block>