<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>注册-百果树</title>
 <!-- CSS -->
<link rel="stylesheet" type="text/css" href="__PUBLIC__/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/register_style.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/assets/css/font-awesome.min.css" />

<link rel="stylesheet" type="text/css" href="__PUBLIC__/layer/myalert.css" />




<!--[if IE 7]>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/assets/css/font-awesome-ie7.min.css" />
<![endif]-->
<!--[if lt IE 9]>
<script type="text/javascript" src="__PUBLIC__/js/html5shiv.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/respond.min.js"></script>
<![endif]-->

<style>
.tips_color{
   color:#a94442;
}
</style>
</head>
<body>
<div class="header">
            <div class="container">
                <div class="row">
				    <div class="col-sm-6">
                    <div class="logo span4">
                        <h1><a href="http://www.wbzzsf.com">百果树</a></h1>
                    </div>
					</div>
					<!-- <div class="col-sm-6">
                    <div class="links span8">
                        <a class="home" href="/MQ/index.html" rel="tooltip" data-placement="bottom" data-original-title="首页"><i class="fa fa-home fa-2x"></i></a>
                        <a class="login" href="/MQ/login.html" rel="tooltip" data-placement="bottom" data-original-title="登录"><i class="fa fa-user fa-2x"></i></a>
                    </div>
					</div> -->
                </div>
            </div>
  </div>

		 <div class="register-container container">
            <!-- <div class="row"> -->
        <div class="alert alert-success" style="display:none" id="success1">
        <i class="fa fa-hand-o-right"></i>
         注册成功！
      </div>
      <div class="alert alert-warning" style="display:none" id="error1">
        <i class="fa fa-hand-o-right"></i>
          注册失败！
      </div>
                <div class="register span6">
                    <form action="#" method="post" class="form-horizontal" id="register">
                        <h2><i class="fa fa-pencil pencil"></i>百果树 <span class="blue"><strong>注册</strong></span></h2>
						   <div class="form-group">
						       <label for="WbAccount" class="col-sm-2 control-label">网吧账号</label>
							   <div class="col-sm-7">
							      <input type="text" class="form-control" id="WbAccount" name="WbAccount" placeholder="注册后账号名不可修改" >
							   </div>
							   <div class="col-sm-3 tips_color"  >
							   </div>
						   </div>
						   <div class="form-group">
						       <label for="WbName" class="col-sm-2 control-label">网吧名称</label>
							   <div class="col-sm-7">
							      <input type="text" class="form-control"id="WbName" name="WbName" placeholder="请填写网吧全称" >
							   </div>
							   <div class="col-sm-3 tips_color" >
							   </div>
						   </div>
						   
						   <input type="hidden" class="form-control"id="register_guid" name="register_guid" value={$register_guid} >


<!-- 			              <div class="form-group" style="margin-bottom:15px;">
							

								<div class="input-group">
								    <div>选择省市区

								    <label for="WbName" class="col-sm-2 control-label">选择省市区</label>

					                  <select name="province" id="province">
											<option value="0">-选择省-</option>
											<volist name="province_list" id="province">
												<option value="{$province.id}">{$province.area_name}</option>
											</volist>
										</select>

										<select name="city" id="city">
											<option value="0">-选择市-</option>
											<present name="agent.city">
												<option value="{$agent.city}">{$agent.city|D('Area')->getAreaNameById}</option>
											</present>
										</select>
										<select name="area" id="area">
											<option value="0">-选择区县-</option>
											<present name="agent.area">
												<option value="{$agent.area}">{$agent.area|D('Area')->getAreaNameById}</option>
											</present>
										</select>
					                </div>	
								</div>
													
						
			             
			
						   </div> -->


						   	 <div class="form-group" style="margin-bottom:15px;">
						     <label  class="col-sm-2 control-label">所在地区</label>
			                 <div class="col-sm-7">                 
			                
			                      <select id="province" name="province" class=" col-xs-12 col-sm-12 form-control" style="color:#888;font-size:14px;padding-left:6px;width:30%;margin-right:5%;">
			                         	    <option value="">-选择省-</option>
											<volist name="province_list" id="province">
												<option value="{$province.id}">{$province.area_name}</option>
											</volist>
			                      </select>
			                      <select id="city" name="city" class="col-xs-12 col-sm-12 form-control" style="color:#888;font-size:14px;padding-left:6px;width:30%;margin-right:5%;" >
			                             	<option value="">-选择市-</option>
											<present name="agent.city">
												<option value="{$agent.city}">{$agent.city|D('Area')->getAreaNameById}</option>
											</present>
			                      </select>
			                      <select id="area" name="area" class="col-xs-12 col-sm-12 form-control" class="{required:true}" style="color:#888;font-size:14px;padding-left:6px;width:30%;">
			                                <option value="">-选择区县-</option>
											<present name="agent.area">
												<option value="{$agent.area}">{$agent.area|D('Area')->getAreaNameById}</option>
											</present>
			                      </select>
			                     
			                    </div>
			                    
			                    <!--  <script type="text/javascript">_init_area();</script>  -->
			             
			                  <div class="col-sm-3 tips_color"  id="ssx" style="font-weight:700;"></div>
						   </div>
			            







			            
                           <div class="form-group"style="margin-top:15px;">
						       <label for="addr" class="col-sm-2 control-label">详细地址</label>
							   <div class="col-sm-7">
							      <input type="text" class="form-control"id="addr" name="addr" placeholder="请输入详细地址" >
							   </div>
							   <div class="col-sm-3 tips_color" >
							   </div>
						   </div>


						   <div class="form-group">
						       <label for="OwnerName" class="col-sm-2 control-label">负责人姓名</label>
							   <div class="col-sm-7">
							      <input type="text" class="form-control"id="OwnerName" name="OwnerName" placeholder="请输入您的姓名" >
							   </div>
							   <div class="col-sm-3 tips_color" >
							   </div>
						   </div>
						   <div class="form-group">
						       <label for="Card" class="col-sm-2 control-label">负责人身份证</label>
							   <div class="col-sm-7">
							      <input type="text" class="form-control"id="Card" name="Card" placeholder="请输入您的身份证号码" >
							   </div>
							   <div class="col-sm-3 tips_color" >
							   </div>
						   </div>
						   <div class="form-group">
						       <label for="Email" class="col-sm-2 control-label">负责人邮箱</label>
							   <div class="col-sm-7">
							      <input type="email" class="form-control"id="Email" name="Email" placeholder="请输入您的邮箱地址" >
							   </div>
							   <div class="col-sm-3 tips_color" >
							   </div>
						   </div>
						   <div class="form-group">
						       <label for="Tel" class="col-sm-2 control-label">负责人电话</label>
							   <div class="col-sm-7">
							      <input type="text" class="form-control"id="Tel" name="Tel" placeholder="请输入您的电话号码" >
							   </div>
							   <div class="col-sm-3 tips_color" >
							   </div>
						   </div>
					       <div class="form-group">
						       <label for="CpCount" class="col-sm-2 control-label">默认机器台数</label>
							   <div class="col-sm-7">
							      <input type="text" class="form-control" id="CpCount" name="CpCount" placeholder="请输入默认机器台数" >
							   </div>
							   <div class="col-sm-3 tips_color" >
							   </div>
						   </div> 
						   <div class="form-group">
						       <label for="PassWord" class="col-sm-2 control-label">密码</label>
							   <div class="col-sm-7">
							      <input type="password" class="form-control"id="PassWord" name="PassWord" placeholder="请输入您的密码" >
							   </div>
							   <div class="col-sm-3 tips_color" >
							   </div>
						   </div>
						   <div class="form-group">
						       <label for="confirm_password" class="col-sm-2 control-label">确认密码</label>
							   <div class="col-sm-7">
							      <input type="password" class="form-control"id="confirm_password" name="confirm_password" placeholder="请输入您的密码" >
							   </div>
							   <div class="col-sm-3 tips_color" >
							   </div>
						   </div>
						   <div class="form-group">
						       <label for="yzm" class="col-sm-2 control-label">验证码</label>
							   <div class="col-sm-7 ">
							      <input type="text" class="form-control" id="yzm" name="yzm" placeholder="" style="width:30%;display:inline;float:left;" />
						         <input type="button" id="get_yzm" onclick="getyzm()" class="btn btn-primary btn-sm" value="获取手机验证码" style="float:left;margin-left:10px;color:#fff;background:#428bca;border-color: #357ebd;" >
							   </div>
							    <div class="col-sm-3 tips_color" >
							   </div>
						   </div>
                        <!-- <button type="submit" id="btn"><strong>立即注册</strong></button> -->
						<input type="submit" id="btn" class="btn btn-primary"  value="立即注册" style="color:#fff;background-color:#428bca;border:#357ebd;width:60%;">
                    </form>
                </div>
       <!--      </div> -->
        </div>
		<!-- <div align="center">Copyright &copy; 2015 河南会昌文化传媒有限公司</div> -->
        <!-- Javascript -->
        <script src="__PUBLIC__/js/jquery-1.11.2.js"></script>
        <script src="__PUBLIC__/bootstrap/js/bootstrap.min.js"></script>
        <script src="__PUBLIC__/js/jquery.backstretch.min.js"></script>
        <script src="__PUBLIC__/js/register_scripts.js"></script>
		 <!-- 下面三个是验证使用js -->
		 <script src="__PUBLIC__/register/validate/card.js"></script>
        <script src="__PUBLIC__/register/validate/jquery.validate.js"></script>
        <script src="__PUBLIC__/register/validate/messages_zh.js"></script>

        <script type="text/javascript" src="__PUBLIC__/layer/layer.js"></script>
       <script type="text/javascript" src="__PUBLIC__/layer/myalert.js"></script>
    
        <script>
		 // 身份证号码验证 
       jQuery.validator.addMethod("isIdCardNo", function(value, element) { 
       return this.optional(element) || idCardNoUtil.checkIdCardNo(value);     
       }, "请正确输入您的身份证号码"); 
	   
       // 手机号码验证
       jQuery.validator.addMethod("isMobile", function(value, element) {
       var length = value.length;
       var mobile = /^(13[0-9]{9})|(18[0-9]{9})|(14[0-9]{9})|(17[0-9]{9})|(15[0-9]{9})$/;
       return this.optional(element) || (length == 11 && mobile.test(value));
      }, "请正确填写您的手机号码");
	  //QQ号码验证
	  jQuery.validator.addMethod("qq", function(value, element) { 
      var tel = /^[1-9]\d{4,9}$/; 
      return this.optional(element) || (tel.test(value)); 
      }, "qq号码格式错误");
	  //手机号是否通过验证
	  jQuery.validator.addMethod("passMobile",function(value,element){
	  var tel=$("#Tel").val();
	  var length=tel.length;
	  var mobile = /^(13[0-9]{9})|(18[0-9]{9})|(14[0-9]{9})|(17[0-9]{9})|(15[0-9]{9})$/;
	  return (length==11&&mobile.test(tel));
	  },"请先填写正确的手机号码");
		  $().ready(function(){
		     $("#register").validate({
			 rules:{
			    WbAccount:{
				   required: true,
                   minlength: 2,
                   maxlength: 16,
				   remote:{
				      type:"post",
					//  url:"checkAccountID.psp",
					  url:"{:U('checkWbAccountID')}" ,
					  dataType:"json",
					  data:{
					     WbAccount:function(){
						    return $("#WbAccount").val();
						 }
					  }
					 
				   }
				},
				WbName:"required",
				area:"required",
				addr:"required",
				OwnerName:"required",
				Card:{
				   required: true,
				   isIdCardNo:true,
				},
				Email:{
				   required:true,
				   email:true,
				},
				Tel:{
				   required:true,
				   isMobile:true,
				},
				CpCount:{
				   required:true,
				},
				PassWord:{
			    required:true,
				minlength:5,
			 },
			    confirm_password:{
			    required:true,
				minlength:5,
				equalTo:"#PassWord"
			 },
		        yzm:{
		            required:true,
		            remote:{
		            type:"post",
			        url:"{:U('CheckPhoneyzm')}",
			        datType:"text",
			        data:{
			        yzm:function(){
				      return $("#yzm").val();
				    }
			     }
		       }
		     },
				
			
			 },
			  messages:{
				WbAccount:{
                required: "请输入用户名,注册后不能更改",
                minlength: "用户名长度不能小于2个字符",
                maxlength: "用户名长度不能大于16个字符",
				remote:"用户名不可用"
               },
                WbName:"请输入网吧名称",
                area:"请选择省市县",
               addr:"请输入详细地址",
			  OwnerName:"请输入老板姓名",
			  Card:{
                required:"请输入身份证号",
                isIdCardNo:"请正确输入身份证号码"
                },
			  Email:{
			     required: "请输入一个Email地址", 
                 email: "请输入一个有效的Email地址" 
			  },
			  Tel:{
				   required:"请输入电话号码",
				   isMobile:"请正确填写联系电话",
				},
			  CpCount:{
				   required:"请输入默认机器台数",
				},
			  PassWord:{
			    required:"请输入密码",
				minlength:"密码长度不能小于5个字符",
			 },
			  confirm_password:{
			    required:"请输入密码",
				minlength:"密码长度不能小于5个字符",
				equalTo:"两次密码输入不一样"
			 },
		      yzm:{
		        required:"请输入验证码",
		        remote:"验证码输入有误或超时"
		     },
				
			 },
			 errorPlacement: function(error, element) {    
			    //错误信息位置设置方法  
                 error.appendTo( element.parent().next() ); //这里的element是录入数据的对象  
               }, 
	         submitHandler: function(form) {  
			  $('#btn').attr("disabled",true); 

		     var param=$("#register").serialize();
			  $.ajax({
			     url:"{:U('setregisterinfo')}",
				 type:"post",
				 dataType:"json",
				 data:param,
				 success:function(data)
				 { 
				  
				 	    if(data.result=="1")
				 	    { 

						 $('#btn').attr("disabled",false); 
					       // $("#success1").show(2000,function()
					       // {
						      //  setTimeout(' $("#success1").hide(2000)',2000);
						      //  location.href="{:U('Public/login')}";
					       // });	
					       
					        myalertsuccess_norefresh('注册成功');	 
					        setTimeout('location.href="{:U('Public/login')}";',2000); 
					        
			              // alert('注册成功');
					    }else if(data.result =="0")
					    {

						  $('#btn').attr("disabled",false); 

					    	myalertdanger('注册失败');
					    	
					       //  $("#error1").show(2000,function(){
					       // setTimeout(' $("#error1").hide(2000)',1000)
					       // });
					    }

							
				 },
				 error: function(data) 
				 { 
	               // alert('注册失败');	
	               myalertdanger('注册失败'); 	                   
				 },//success完成

			  })
             },
             invalidHandler: function(form, validator) 
             {  //不通过回调
               return false;
             }
			 })
		  })
		</script>


<script>
function getyzm(){
		var WbAccount=document.getElementById("WbAccount");
		var WbName=document.getElementById("WbName");
		var province=document.getElementById("province");
		var city=document.getElementById("city");
		var area=document.getElementById("area");
		var addr=document.getElementById("addr");
		var OwnerName=document.getElementById("OwnerName");
		var Card=document.getElementById("Card");
		var Email=document.getElementById("Email");
		var Tel=document.getElementById("Tel");
		var CpCount=document.getElementById("CpCount");
		var PassWord=document.getElementById("PassWord");
		var confirm_password=document.getElementById("confirm_password");
		


		if(WbAccount.value==null||WbAccount.value==""){
		    document.getElementById("WbAccount").focus();
			myalertdanger('请输入网吧帐号！');
			return false;
		}
		if(WbName.value==null||WbName.value==""){
		    document.getElementById("WbName").focus();
			myalertdanger('请输入网吧全称！');
			return false;
		}
		if(province.value==null||province.value==""){
		    document.getElementById("province").focus();
			myalertdanger('请选择省！');
			return false;
		}
		if(city.value==null||city.value==""){
		    document.getElementById("city").focus();
			myalertdanger('请选择市！');
			return false;
		}
		if(area.value==null||area.value==""){
		    document.getElementById("area").focus();
			myalertdanger('请选择县！');
			return false;
		}
		if(addr.value==null||addr.value==""){
		    document.getElementById("addr").focus();
			myalertdanger('请输入详细地址！');
			return false;
		}
		if(OwnerName.value==null||OwnerName.value==""){
		    document.getElementById("OwnerName").focus();
			myalertdanger('请输入老板姓名！');
			return false;
		}
		if(Card.value==null||Card.value==""){
		    document.getElementById("Card").focus();
			myalertdanger('请输入身份证号！');
			return false;
		}
		if(Email.value==null||Email.value==""){
		    document.getElementById("Email").focus();
			myalertdanger('请输入Email地址！');
			return false;
		}
		if(Tel.value==null||Tel.value==""){
		    document.getElementById("Tel").focus();
			myalertdanger('请输入电话号码！');
			return false;
		}
		if(CpCount.value==null||CpCount.value==""){
		    document.getElementById("CpCount").focus();
			myalertdanger('请输入默认机器台数！');
			return false;
		}
		if(PassWord.value==null||PassWord.value==""){
		    document.getElementById("PassWord").focus();
			myalertdanger('请输入密码！');
			return false;
		}
		if(confirm_password.value==null||confirm_password.value==""){
		    document.getElementById("confirm_password").focus();
			myalertdanger('请确认登录密码！');
			return false;
		}


	
   	  var tel=$("#Tel").val();
	  var length=tel.length;
	  var mobile = /^(13[0-9]{9})|(18[0-9]{9})|(14[0-9]{9})|(17[0-9]{9})|(15[0-9]{9})$/;
	  
	  var register_guid =$("#register_guid").val();

	  if(length==11&&mobile.test(tel))
	  {
	     showtime(120);
		$.ajax({
	    type:"post",
		url:"{:U('getPhoneVerifycode')}?mobile="+tel+"&register_guid="+register_guid,
		dataType:"json",
		data:"",
		success:function(data)
		{

		}
	 })
	  }else
	  { 
	     myalertdanger('请填写您的手机号码');

	            // layer.msg('请先填写正确的手机号码', {
	                  //offset: 0,
	                 // shift: 6
	               // });	 

	  };
}



//获取验证码
   function showtime(t){
      $("#get_yzm").addClass("disabled");
	  for(i=1;i<=t;i++){
	     setTimeout("update_p("+i+","+t+")",i*1000);
	  }
   }
   function update_p(num,t){
      if(num==t){
	  $("#get_yzm").val("重新发送");
		 $("#get_yzm").removeClass("disabled");
	  }else{
	     var printnr=t-num;
		$("#get_yzm").val("("+printnr+")秒后重新发送");
		// <!-- $("#get_yzm").val(printnr); -->

	  }
   }
</script>

<script type="text/javascript">


		$('#province').change(function(){
			show_areas($(this).val(),'city');
		});
		$('#city').change(function(){
			show_areas($(this).val(),'area');
		});
		function show_areas(pid,type){
			$.get("{:U('getAreaListHtmlById')}",{id:pid},function(data){
				if(data.status){
					$('#'+type).html('<option value=0>-请选择-</option>'+data.info);
				}
			});
		}

</script>
</body>
</html>
