<extend name="Public/base" />

<block name="head">
    <css href="__PUBLIC__/assets/css/ui.jqgrid.css" />
    <js href="__PUBLIC__/assets/js/jqgrid/jquery.jqGrid.js" />
    <js href="__PUBLIC__/assets/js/jqgrid/i18n/grid.locale-cn.js" />
    <css href="__PUBLIC__/bootstrap/daterangepicker/daterangepicker-bs3.css" />
    <js href="__PUBLIC__/bootstrap/daterangepicker/moment.min.js" />
    <js href="__PUBLIC__/bootstrap/daterangepicker/daterangepicker.js" />
	<js href="__PUBLIC__/layer/layer.js" />
	
	<js href="__PUBLIC__/assets/js/jqgrid/jquery.jqGrid.src.js" />
	<js href="__PUBLIC__/js/Blob.js" />
	<js href="__PUBLIC__/js/FileSaver.js" />
	<js href="__PUBLIC__/js/tableExport.js" />
	<style>
	   .mgb15{margin-bottom:15px;}
	   .labelbold{font-weight:bold;
	   }
     .biaodan{float:left;padding-left:15px;}
	   @media (min-width: 992px) {
		  .modal-lg {
			width: 700px;
		  }
		}
	</style>
</block>

<block name="content">
<div class="row search-bar" >
	<form >

         <input type="hidden" name="SessionSave" value="shift">
         <!-- <span class="mgb15 biaodan">时间
          <input type="text" name="daterange" id="daterange" class="daterange" style="width:300px;"  placeholder="请选择日期" required/>
        </span> -->

            <span class="mgb15 biaodan" style="width:380px;">
              <span class="input-group" >
                <input class="form-control daterange" name="daterange" id="daterange" type="text" placeholder="注册时间"  value="" />
                <span class="input-group-addon">
                  <i class="fa fa-calendar"></i>
                </span>
              </span>
            </span>

            <span class="mgb15 biaodan">     
                    <input class="form-control" name="HyCardNo" id="HyCardNo" type="text"  placeholder="会员卡号" />
            </span>
            <span class="mgb15 biaodan">
                    兑换类型
                            <select id="lx" name="lx">
                              <option value=""> 全部</option>
                              <option value="0">网费</option>
                              <option value="1">商品</option>                 
                            </select>
                     
            </span>
            <span class="mgb15 biaodan"><button type="button" class="btn btn-purple btn-sm" onclick="doSearch()">搜索<i class="fa fa-search"></i></button></span>
			<!-- <span class="mgb15 biaodan" ><a class="btn btn-sm btn-primary" id="print" onclick="doPrint()" href="" >导出<i class="fa fa-print" style="font-size:16px;"></i></a></span> -->
    <script>

    function doPrint(){
    var daterange=$('#daterange').val();
	var HyCardNo=$('#HyCardNo').val();
    var lx=$('#lx').val();
    $("#print").attr('href',"{:U('Api/expjifen')}?daterange="+daterange+"&HyCardNo="+HyCardNo+"&lx="+lx);
    }

    </script>
	</form>
</div>
<div id="jqgrid">
    <table id="grid-table"></table>
    <div id="grid-pager"></div>
</div>


</block>







<block name="script">
    <script>
        $(function(){
            $('#grid-table').jqGrid({
                url:'{:U("getSpChangeinfo")}',
                datatype:'json',
                height:"100%",
                autowidth:true,
                 colModel:[
                    {label:'网吧id',name:'wbid',hidden:true},
                    {label:'收银端',name:'syid',width:70},
                    {label:'会员卡号',name:'HyCardNo',width:120,},
                    {label:'姓名',name:'hyname',width:120,},
                    {label:'会员等级',name:'hydj',width:120,},
                    {label:'兑换积分',name:'Integral',width:70},
                    {label:'兑换类型',name:'Lx',width:70},
                    {label:'兑换网费',name:'Je',width:70,hidden:true},
                    {label:'兑换物品',name:'sp',width:70},
                    {label:'兑换商品',name:'SpName',hidden:true},
                    {label:'兑换商品数量',name:'SpSl',hidden:true},
                    
                    
                    {label:'时间',name:'cTime',width:120},
                    {label:'操作人',name:'Operate',width:70},
                ],
                rowNum:15,
                viewrecords: true,
				sortorder: "desc",
                pager:'#grid-pager',


                gridComplete: function()
                {
                    var ids = $("#grid-table").jqGrid('getDataIDs');
                    for(var i=0;i < ids.length;i++)
                    {

                      var getRow = $('#grid-table').getRowData(ids[i]);//获取当前的数据行  
                      var Lx = getRow.Lx;
                      var SpName=getRow.SpName;
                      var SpSl=getRow.SpSl;
                      var Je=getRow.Je
                      var sp='';
                      if(!(SpName=='')){

                           sp='<span style="padding-right:20px;">'+SpName+'</span>数量：'+SpSl;
                      }
                      sp+=Je;
           
                     if(Lx=='0')
                      {
                        aa='<span class="label label-sm label-primary arrowed-in">网费</span>';          
                      }
                      else if(Lx=='1')
                      {
                        aa='<span class="label label-sm label-pink arrowed-in">商品</span>';
                      }
                          
                      $("#grid-table").jqGrid('setRowData',ids[i],{Lx:aa});  
                      $("#grid-table").jqGrid('setRowData',ids[i],{sp:sp});        
                       

                    }

                }
            }).jqGrid('navGrid','#grid-pager',{
                add:false,
                edit:false,
                del:false,
                refresh:false,
                // searchtext:'高级搜索',
                // searchtitle:'高级搜索'
            },{},{},{},{
                multipleSearch:true
            });
            $(window).resize(function(){
                $('#grid-table').jqGrid('setGridWidth', $('#jqgrid').width(), true);
            });
        });
		
	$('#daterange').val(moment().subtract('days', 29).startOf('day').format('YYYY-MM-DD HH:mm:ss') + ' - ' + moment().format('YYYY-MM-DD HH:mm:ss'));
	$('.daterange').daterangepicker({
		format:'YYYY-MM-DD hh:mm:ss',
		timePicker: true,
		timePickerIncrement: 1,
		timePickerSeconds:true,
		startDate:moment().startOf('day'),  
		endDate: moment(),
		timePicker12Hour:false,			
		ranges: {  
				   '今天': [moment().startOf('day'), moment().endOf('day')],  
				   '昨天': [moment().subtract('days', 1).startOf('day'), moment().subtract('days', 1).endOf('day')],  
				   '最近7天': [moment().subtract('days', 6).startOf('day'), moment().endOf('day')],  
				   '最近30天': [moment().subtract('days', 29).startOf('day'), moment().endOf('day')],  
				   '本月': [moment().startOf('month'), moment().endOf('month')],  
				   '上月': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]  
				},				
		locale:{
			applyLabel:'确定',
			cancelLabel:'取消',
			fromLabel:'从',
			toLabel:'至',
			daysOfWeek:['周日','周一','周二','周三','周四','周五','周六'],
			monthNames:['一月','二月','三月','四月','五月','六月','七月','八月','九月','十月','十一月','十二月'],
			customRangeLabel: '自定义',
			firstDay : 1
		}

	},function(start,end,label){
	$('#daterange').val(start.format('YYYY-MM-DD HH:mm:ss') + ' - ' + end.format('YYYY-MM-DD HH:mm:ss'));
	}).next().click(function(){$(this).prev().focus();});

    function doSearch(){
    $('#grid-table').jqGrid('setGridParam',{
        postData:{
            // daterange:$('#daterange').val(),
                    daterange:$('#daterange').val(),
                    HyCardNo:$('#HyCardNo').val(),
                    lx:$('#lx').val(),

       
        }
    }).trigger('reloadGrid');
   }

   </script>
</block>