<block name="head">
<include file="Public/head" />
    <css href="__PUBLIC__/assets/css/ui.jqgrid.css" />
    <js href="__PUBLIC__/assets/js/jqgrid/jquery.jqGrid.js" />
    <js href="__PUBLIC__/assets/js/jqgrid/i18n/grid.locale-cn.js" />
    <css href="__PUBLIC__/bootstrap/daterangepicker/daterangepicker-bs3.css" />
    <js href="__PUBLIC__/bootstrap/daterangepicker/moment.min.js" />
    <js href="__PUBLIC__/bootstrap/daterangepicker/daterangepicker.js" />
	<css href="__PUBLIC__/assets/css/ace.min.css" />
    <css href="__PUBLIC__/assets/css/ace-skins.min.css" />
    <js href="__PUBLIC__/layer/layer.js" />
	<css href="__PUBLIC__/jquery-ui-1.10.3/demos/demos.css" />
	<style>
	   body{background:#fff;min-height:0;}
	   .mgb15{margin-bottom:15px;}
	   .labelbold{font-weight:bold;
	   }
     .biaodan{float:left;padding-left:15px;}
	   @media (min-width: 992px) {
		  .modal-lg {
			width: 700px;
		  }
		}
		 .fontsize12{font-size:12px;}
		 .pd15{padding:15px;}
	.search-bar input,.search-bar select{
		display:inline-block;
		height:30px;
		font-size:14px;
		line-height:
		color:#555555;
		vertical-align:middle;
		-webkit-border-radius:4px !important;
		-moz-border-radius:4px !important;
		border-radius:4px !important;
		border-color:#a4bed4;
		text-align:left;
		padding:4px 6px;
		width:200px;
	 }
	 .search-bar input{width:200px;}
	 .search-bar select{width:100px;}
	 .btn1{
		    font-size:12px;	
			height:30px;
			 width:90px;
			-webkit-border-radius:2px;
			-moz-border-radius:2px;
			border-radius:2px;
			border:0;
			text-shadow:none;
			background-image:none;
			vertical-align:middle;
			color:#ffffff;
		 }
	</style>
</block>

<block name="content">
<div class="pd15" >
<div class="row search-bar" >
	<form >
       <span class="mgb15 biaodan"><input class="form-control" name="goods_name" id="goods_name" type="text"  placeholder="请输入商品名称"  />
      </span>

<!--                 <span class="mgb15 biaodan">库存位置
                <select id="position" name="position">
                   <option value="0">全部</option>
				   <option value="1">仓库</option>
				   <option value="2">货架</option>

                </select>
                </span> -->

		<span class="mgb15 biaodan"> <button type="button" class="btn1 btn-purple btn-sm" onclick="doSearch()">搜索<i class="fa fa-search"></i></button></span>

	</form>
</div>

    <div id="jqgrid">
        <table id="grid-table"></table>
        <div id="grid-pager"></div>
    </div>
</div>

</block>



	

<block name="script">
      <script>

    			
        $(function(){
            $('#grid-table').jqGrid({
                url: '{:U("getpdtongji_mx_listByMap")}',
                datatype: "json",
                type:"get",
                height:"auto",
                autowidth:true,
                shrinkToFit:true,
                colModel:[
					{label:'网吧id',name:'wbid',hidden:true,},
					{label:'商品分类',name:'type_id',width:50,},
					{label:'订单号',name:'post_order_no',hidden:true,},
                    {label:'商品id',name:'goods_id',hidden:true,},
					{label:'商品位置',name:'position',width:50,}, 
                    {label:'商品名称',name:'goods_name',width:50,},
					{label:'盘点数量',name:'pd_num',width:60},
					{label:'货架数量',name:'hj_num',width:60},
					{label:'仓库数量',name:'ck_num',width:60},
					{label:'损/溢金额',name:'je',width:60},
					
                    {label:'商品规格',name:'guige',hidden:true,width:50},
                    {label:'商品单位',name:'unit',hidden:true,width:70},
				<!-- 	{label:'时间',name:'dtInsertTime',width:70}, -->
                  					
                    
                    
			<!-- 		{label:'是否上架',name:'shangjia_status',width:60},	 -->	
	             <!--    {label:'操作',name:'operate',width:60}, -->						

                ],
                styleUI : 'Bootstrap',
                rowNum:15,
                pager:'#grid-pager',
				<!-- multiselect: true, -->
                viewrecords: true,
				gridComplete: function()
				{
                    var ids = $("#grid-table").jqGrid('getDataIDs');
                    var add,edit,save,del,bangding,info_edit,edit2,wbid = '';

                    var end_str,sta_str,position_str;                                             										
                
                        for(var i=0;i < ids.length;i++)
                        {
                            var getRow = $('#grid-table').getRowData(ids[i]);//获取当前的数据行  
                            var colVal = getRow.wbid;             
                            var rownum = ids[i];
							var col_position= getRow.position;  
							if(col_position=='0')
							{
							  position_str='仓库';
							}
							else if(col_position=='1')
							{
							   position_str='货架';
							}
																					 						   
				                                                         
						
							$("#grid-table").jqGrid('setRowData',ids[i],{position:position_str});													   								
								
                        }
                    
                     var index = parent.layer.getFrameIndex(window.name); 
                     parent.layer.iframeAuto(index);
                    
                }
  
    
            });



            $(window).resize(function(){
                $('#grid-table').jqGrid('setGridWidth', $('#jqgrid').width(), true);
            });
        });

       $('#daterange').val(moment().subtract('days', 29).startOf('day').format('YYYY-MM-DD HH:mm:ss') + ' - ' + moment().format('YYYY-MM-DD HH:mm:ss'));
            $('.daterange').daterangepicker({
                format:'YYYY/MM/DD hh:mm:ss',
                timePicker: true,
                timePickerIncrement: 1,
                timePickerSeconds:true,
                startDate:moment().startOf('day'),  
                endDate: moment(),
                timePicker12Hour:false,     
                ranges: {  
                           '今天': [moment().startOf('day'), moment().endOf('day')],  
                           '昨天': [moment().subtract('days', 1).startOf('day'), moment().subtract('days', 1).endOf('day')],  
                           '最近7天': [moment().subtract('days', 6).startOf('day'), moment().endOf('day')],  
                           '最近30天': [moment().subtract('days', 29).startOf('day'), moment().endOf('day')],  
                           '本月': [moment().startOf('month'), moment().endOf('month')],  
                           '上月': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]  
                        },        
                locale:{
                    applyLabel:'确定',
                    cancelLabel:'取消',
                    fromLabel:'从',
                    toLabel:'至',
                    daysOfWeek:['周日','周一','周二','周三','周四','周五','周六'],
                    monthNames:['一月','二月','三月','四月','五月','六月','七月','八月','九月','十月','十一月','十二月'],
          customRangeLabel: '自定义',
          firstDay : 1
                }

            },function(start,end,label){
      $('#daterange').val(start.format('YYYY-MM-DD HH:mm:ss') + ' - ' + end.format('YYYY-MM-DD HH:mm:ss'));
      });

        function doSearch(){
		
			
<!-- 	   var storage1=window.localStorage;
       <!-- var canshu=storage1.getItem("goods_id"); --> -->
            $('#grid-table').jqGrid('setGridParam',{
                postData:{
                    // daterange:$('#daterange').val(),
                    goods_name:$('#goods_name').val(),
                    <!-- position:$('#position').val(), -->
					
                }
            }).trigger('reloadGrid');
        }
	doSearch();	
	


		

    </script>
  
<script>
    document.onkeydown = function(e){
        if((e||event).keyCode==13)
		  $("#goods_name").blur();
		doSearch();
       
      };

</script>
</block>