<block name="head">
<include file="Public/head" />
<block name="head">
    <css href="__PUBLIC__/assets/css/ui.jqgrid.css" />
    <js href="__PUBLIC__/assets/js/jqgrid/jquery.jqGrid.js" />
    <js href="__PUBLIC__/assets/js/jqgrid/i18n/grid.locale-cn.js" />
    <css href="__PUBLIC__/bootstrap/daterangepicker/daterangepicker-bs3.css" />
    <js href="__PUBLIC__/bootstrap/daterangepicker/moment.min.js" />
    <js href="__PUBLIC__/bootstrap/daterangepicker/daterangepicker.js" />
	<css href="__PUBLIC__/assets/css/ace.min.css" />
    <css href="__PUBLIC__/assets/css/ace-skins.min.css" />
    <js href="__PUBLIC__/layer/layer.js" />
	<css href="__PUBLIC__/jquery-ui-1.10.3/demos/demos.css" /> 
	<style>
	   body{background:#fff;min-height:0;font-size:13px;}
	   .mgb15{margin-bottom:15px;}
	   .labelbold{
		font-weight:bold;
	   }
     .biaodan{float:left;padding-left:15px;}
	   @media (min-width: 992px) {
		  .modal-lg {
			width: 700px;
		  }
		}
		 .fontsize12{font-size:12px;}
		 .pd15{padding:15px;}
	.search-bar input,.search-bar select{
		display:inline-block;
		height:30px;
		font-size:14px;
		line-height:
		color:#555555;
		vertical-align:middle;
		-webkit-border-radius:4px !important;
		-moz-border-radius:4px !important;
		border-radius:4px !important;
		border-color:#a4bed4;
		text-align:left;
		padding:4px 6px;
		width:200px;
	 }
	 .search-bar input{width:200px;}
	 .search-bar select{width:100px;}
	 .btn1{
		    font-size:12px;	
			height:30px;
			 width:90px;
			-webkit-border-radius:2px;
			-moz-border-radius:2px;
			border-radius:2px;
			border:0;
			text-shadow:none;
			background-image:none;
			vertical-align:middle;
			color:#ffffff;
		 }
	</style>
</block>

<block name="content">
<div class="pd15" >
<div class="row search-bar" >
	<!--<form >
       <span class="mgb15 biaodan">
			 <input class="form-control" name="goods_name" id="goods_name" type="text"  placeholder="请输入商品名称"  /> 
			<input type="text" placeholder="检索商品" id="project"> 
		</span>

		<span class="mgb15 biaodan"> <button type="button" class="btn1 btn-purple btn-sm" onclick="doSearch()">搜索<i class="fa fa-search"></i></button></span>

	</form>-->
</div>

   <table id='tab' class='table table-striped'>
			<thead>
				<tr>
					<th>
						商品分类
					</th>
					<th>
						商品名称
					</th>
					<th>
						下架前仓库数量
					</th>
					<th>
						下架前货架数量
					</th>
					<th>
						下架数量
					</th>
					<th>
						下架后货架数量
					</th>				
				</tr>
			</thead>
	
		<table>
</div>

</block>



	

<block name="script">
      <script>

    	 getgoodslist();	 
	function  getgoodslist()
	{
	
	   	$.ajax({
				type:"get",
				url: '{:U("get_shangxiajiainfo_mx_list")}',
				async:true,
				success:function(data)
				{
				   $('tbody').remove();
					showallgoodslist(data)
				}
			});
	
	}
	  
	
	
		
	  function  showallgoodslist(data)
	  {
	    var html="";
		var position;
		//console.log(data)
        for (var i = 0; i <data.length; i++) 
		{		
				var goods=data[i];
				var hj_num=Number(goods.hj_num);
				var num=Number(goods.num);
				var shang_hou_num=hj_num-num;
				if(goods.is_zuhe==0)
				{	
					html+='<tbody id=tb'+goods.goods_id+'>';
					html+='	<tr>';
					html+='     <td>'+goods.type_name+'</td>';
					//html+='		<td><span>'+position+'</span></td>';
					html+='		<td><span>'+goods.goods_name+'</span></td>';
					html+='		<td><span>'+goods.ck_num+'</span></td>';
					html+='		<td><span>'+goods.hj_num+'</span></td>';					
					html+='		<td><span>'+goods.num+'</span></td>';				
					html+='		<td><span>'+shang_hou_num+'</span></td>';
					html+='	</tr>';
					html+='</tbody>';
				}
				else  if(goods.is_zuhe==2)  //显示组合商品
				{
				   //有实际的组合商品
					 var zuhedata=goods.zuhelist;
					 if(zuhedata.length>0)
					 {
						html+='<tbody id=tb'+goods.goods_id+'>';
						html+='	<tr>';
						html+='     <td>'+goods.type_name+'</td>';
						//html+='		<td><span>'+position+'</span></td>';
						html+='		<td><span class="red">'+goods.goods_name+'</span></td>';
						html+='		<td><span>--</span></td>';	
						html+='		<td><span>'+goods.hj_num+'</span></td>';					
						html+='		<td><span>'+goods.num+'</span></td>';
						html+='		<td><span>'+shang_hou_num+'</span></td>';
						html+='	</tr>';
						 for(var j=0;j<zuhedata.length;j++)
						 {
							html+='	<tr>';
							html+='     <td></td>';
							//html+='		<td></td>';
							html+='		<td><span>'+zuhedata[j].goods_name+'</span></td>';
							html+='		<td><span>'+zuhedata[j].ck_num+'</span></td>';	
							html+='		<td></td>';					
							html+='		<td><span>'+zuhedata[j].num+'</span></td>';
							html+='		<td></td>';
							html+='	</tr>';
							
						 }
						 html+='</tbody>';
					 }else
					 {
					 
					 } 
				}
				
				
			
        
		}; 
         $(" .table-striped").append(html);	
	  }	
        

		

    </script>
  

</block>