<extend name="Public/base" />

<block name="head">
    <css href="__PUBLIC__/assets/css/ui.jqgrid.css" />
    <js href="__PUBLIC__/assets/js/jqgrid/jquery.jqGrid.js" />
    <js href="__PUBLIC__/assets/js/jqgrid/i18n/grid.locale-cn.js" />
    <css href="__PUBLIC__/bootstrap/daterangepicker/daterangepicker-bs3.css" />
    <js href="__PUBLIC__/bootstrap/daterangepicker/moment.min.js" />
    <js href="__PUBLIC__/bootstrap/daterangepicker/daterangepicker.js" />
    <js href="__PUBLIC__/layer/layer.js" />
	<style>
	   .mgb15{margin-bottom:15px;}
	   .labelbold{font-weight:bold;
	   }
     .biaodan{float:left;padding-left:15px;}
	   @media (min-width: 992px) {
		  .modal-lg {
			width: 700px;
		  }
		}
	</style>
</block>

<block name="content">
<div class="row search-bar" >
	<form >

       <!-- <div class="alert alert-warning bolder">增加总数<span class="orange" id="summoney">0</span> &nbsp;&nbsp;&nbsp;减少总数 <span class="orange" id="refund">0</span></div>   -->


      <span class="mgb15 biaodan" style="width:380px;">
          <span class="input-group" >
            <input class="form-control daterange" name="daterange" id="daterange" type="text" placeholder="请选择日期"  value="" />
            <span class="input-group-addon">
              <i class="fa fa-calendar"></i>
            </span>
          </span>
      </span>
      <span class="mgb15 biaodan">     
              <input class="form-control" name="sContent" id="sContent" type="text"  placeholder="商品名称" />
      </span>

      <span class="mgb15 biaodan">
            类型
        <select id="jch_type" name="jch_type">

          <option value="0">全部</option>         
          <option value="1">进货</option>
		  <option value="2">出货</option>
		  <option value="3">进货（来自货架）</option>

        </select>
                     
       </span>
	   
	        <div class="col-xs-6 col-sm-3 mgb15">操作人
                <select id="operate" name="operate">
                  <option value="">全部</option>
                  <volist name="yglist" id="yginfo">
                    <option value="{$yginfo.id}">{$yginfo.name}</option>
                  </volist>
                </select>
                </div>
  <span class="mgb15 biaodan"><button type="button" class="btn btn-purple btn-sm" onclick="doSearch()">搜索<i class="fa fa-search"></i></button></span>

	</form>
</div>

    <div id="jqgrid">
        <table id="grid-table"></table>
        <div id="grid-pager"></div>
    </div>

      <!-- <div  class="col-sm-6" style="margin-top:15px;margin-left:-15px;">  -->
           <!-- <table class="table table-bordered table-hover"> -->
             <!-- <thead><tr><th>商品名称</th><th>商品数量</th><th>商品总价</th></tr></thead> -->
             <!-- <tbody id ="shuju"> -->
             <!-- </tbody> -->
           <!-- </table> -->
       <!-- </div> -->

</block>





<block name="script">
      <script>
           $(function(){
            $('#grid-table').jqGrid({
                url:'{:U("getcktjmx")}',
                datatype:'json',
                height:"100%",
                autowidth:true,
                     colModel:[
                    {label:'网吧id',name:'wbid',hidden:true,},
					<!-- {label:'网吧id',name:'id',hidden:true,}, -->
					{label:'操作时间',name:'dtInsertTime',width:100,},
					{label:'订单号',name:'post_order_no',width:100,},                   
					{label:'单据类型',name:'jch_type_caption',width:60,},  
                    {label:'单据类型',name:'jch_type',hidden:true,width:50,}, 					
					{label:'商品信息',name:'info',width:240},					
					                   
                    {label:'操作人',name:'operate',width:60},			                                     	
	                {label:'操作',name:'opera',width:60},	
					{label:'备注',name:'bz',width:60},
                ],
				loadComplete:function(data)
                { //完成服务器请求后，回调函数 
                   /*
                   $("#ceshi").html('');
                   var text='';       
                        <!-- 充值金额 <span class="orange" >0.00</span> 元 -->
                        text='会员加钱<span class=\"orange\" >'+data['sum_hyk_jq_money']+"</span>&nbsp;";
						text+='会员奖励<span class=\"orange\" >'+data['sum_hyk_jl_money']+"</span>&nbsp;";
						text+='临时卡加钱<span class=\"orange\" >'+data['sum_lsk_jq_money']+"</span>&nbsp;";
						text+='临时卡找零<span class=\"orange\" >'+data['sum_lsk_zlje']+"</span>&nbsp;";
                        
                        $("#ceshi").append(text);
						*/

                 },
				
                rowNum:30,
				rowList:[30,100,500,1000],
                viewrecords: true,
				sortorder: "desc",
                pager:'#grid-pager',


		     gridComplete: function()
				{
                    var ids = $("#grid-table").jqGrid('getDataIDs');
                    var add,edit,save,del,bangding,info_edit,edit2,wbid = '';

                    var end_str,sta_str,jch_type_caption,jch_type;                                             										
                
                        for(var i=0;i < ids.length;i++)
                        {
                            var getRow = $('#grid-table').getRowData(ids[i]);//获取当前的数据行  
                            var colVal = getRow.wbid;             
                            var rownum = ids[i];
							var jch_type= getRow.jch_type;  
							
							
							if(jch_type=='2')
							{
							  jch_type_caption='出货';
							  edit2= '<a href="#" onclick="ckchuhuomx('+rownum+')">查看详情</a>';
							}
							else if(jch_type=='1')
							{
							   jch_type_caption='进货';
							   edit2= '<a href="#" onclick="ckjinhuomx('+rownum+')">查看详情</a>';
							}
							else if(jch_type=='4')
							{
							   jch_type_caption='上架';
							   edit2= '<a href="#" onclick="ckchuhuomx('+rownum+')">查看详情</a>';
							}
			                else if(jch_type=='3')
							{
							   jch_type_caption='下架';
							   edit2= '<a href="#" onclick="ckjinhuomx('+rownum+')">查看详情</a>';
							}                                         
	
                            							 
						     $("#grid-table").jqGrid('setRowData',ids[i],{opera:edit2});
							 
							$("#grid-table").jqGrid('setRowData',ids[i],{jch_type_caption:jch_type_caption});													   								
								
                        }
                    
                    
                    
                },
            }).jqGrid('navGrid','#grid-pager',{
                add:false,
                edit:false,
                del:false,
                refresh:false,
                // searchtext:'高级搜索',
                // searchtitle:'高级搜索'
            },{},{},{},{
                multipleSearch:true
            });
            $(window).resize(function(){
                $('#grid-table').jqGrid('setGridWidth', $('#jqgrid').width(), true);
            });
        });
		
	$('#daterange').val(moment().subtract('days', 29).startOf('day').format('YYYY-MM-DD HH:mm:ss') + ' - ' + moment().format('YYYY-MM-DD HH:mm:ss'));
	$('.daterange').daterangepicker({
		format:'YYYY-MM-DD hh:mm:ss',
		timePicker: true,
		timePickerIncrement: 1,
		timePickerSeconds:true,
		startDate:moment().startOf('day'),  
		endDate: moment(),
		timePicker12Hour:false,		
		ranges: {  
				   '今天': [moment().startOf('day'), moment().endOf('day')],  
				   '昨天': [moment().subtract('days', 1).startOf('day'), moment().subtract('days', 1).endOf('day')],  
				   '最近7天': [moment().subtract('days', 6).startOf('day'), moment().endOf('day')],  
				   '最近30天': [moment().subtract('days', 29).startOf('day'), moment().endOf('day')],  
				   '本月': [moment().startOf('month'), moment().endOf('month')],  
				   '上月': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]  
				},				
		locale:{
			applyLabel:'确定',
			cancelLabel:'取消',
			fromLabel:'从',
			toLabel:'至',
			daysOfWeek:['周日','周一','周二','周三','周四','周五','周六'],
			monthNames:['一月','二月','三月','四月','五月','六月','七月','八月','九月','十月','十一月','十二月'],
			customRangeLabel: '自定义',
			firstDay : 1
		}

	},function(start,end,label){
		$('#daterange').val(start.format('YYYY-MM-DD HH:mm:ss') + ' - ' + end.format('YYYY-MM-DD HH:mm:ss'));
		$('#daterange1').val(start.format('YYYY-MM-DD HH:mm:ss') + ' - ' + end.format('YYYY-MM-DD HH:mm:ss'));
		$('#daterange2').val(start.format('YYYY-MM-DD HH:mm:ss') + ' - ' + end.format('YYYY-MM-DD HH:mm:ss'));
		$('#daterange3').val(start.format('YYYY-MM-DD HH:mm:ss') + ' - ' + end.format('YYYY-MM-DD HH:mm:ss'));
		$('#daterange4').val(start.format('YYYY-MM-DD HH:mm:ss') + ' - ' + end.format('YYYY-MM-DD HH:mm:ss'));
		$('#daterange5').val(start.format('YYYY-MM-DD HH:mm:ss') + ' - ' + end.format('YYYY-MM-DD HH:mm:ss'));
	}).next().click(function(){$(this).prev().focus();});

    function doSearch()
	{
	
	
    $('#grid-table').jqGrid('setGridParam',{
        postData:{                 
            daterange:$('#daterange').val(),
			cardno:$('#cardno').val(),
			<!-- jch_type:$('#jch_type').val(), -->
			jch_type:$('#jch_type').val(),
                          
        }
    }).trigger('reloadGrid');
   }
   
 doSearch();
 
 
 
    function ckchuhuomx(rowNum)
   {
      var rowData = $('#grid-table').jqGrid('getRowData',rowNum);
	  var orderNum= rowData['post_order_no'];
	  var jch_type= rowData['jch_type'];
      layer.open({
	  type: 2,
	  offset: '100px',
	  title: '进出货统计详情',
	  skin: 'layui-layer-lan',
	  maxmin: true,
	  shadeClose: true, //点击遮罩关闭层
	  area : ['1030px' , '560px'],
	  content: '{:U("chuhuomx")}?post_order_no='+orderNum+'&jch_type='+jch_type,
	  });
   }   
   
   function ckjinhuomx(rowNum)
   {
      var rowData = $('#grid-table').jqGrid('getRowData',rowNum);
	  var orderNum= rowData['post_order_no'];
	  var jch_type= rowData['jch_type'];
	  
      layer.open({
	  type: 2,
	  offset: '100px',
	  title: '进出货统计详情',
	  skin: 'layui-layer-lan',
	  maxmin: true,
	  shadeClose: true, //点击遮罩关闭层
	  area : ['1030px' , '560px'],
	  content: '{:U("jinhuomx")}?post_order_no='+orderNum+'&jch_type='+jch_type,
	  });
   }  



    </script>
  
<script>
 function checkform()
 {
    var daterange=$("#daterange").val();
  if(daterange==""||daterange=="请选择日期")
  {
     // alert("请选择日期");
            layer.msg('请选择日期', {
                  offset: 0,
                  shift: 6
                });
     return false;
  }
  return true;
 }

</script>
</block>