<block name="head">
<include file="Public/head" />
<css href="__PUBLIC__/tree/css/common.css" />
<js href="__PUBLIC__/layer/layer.js" />
<script src="__PUBLIC__/register/validate/jquery.validate.js"></script>
  <style>
  .tips_color{
   color:#a94442;
}
  </style>
</block>

<block name="content">
 <form class="form-horizontal" role="form" id="changejfj" method="post" >
        <div class="form-group">
           <label class="col-sm-3 control-label no-padding-right" for="Card">老板手机号</label>
         <div class="col-sm-9 col-sm-offset-1">
                  <input type="text" id="phone" name="phone" value="{$wbinfo.WBTel}" class="col-xs-8 col-sm-5"  readonly="readonly"/>
                 
          </div>
        </div>
              <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="yzm">验证码</label>
                <div class="col-sm-9">
                   <div class="row">
                    <div class="col-xs-8 col-sm-5" >
                     <input type="text" id="yzm" name="yzm" placeholder=""  />
                     <input type="button" id="get_yzm" onclick="showtime(120)" class="btn btn-primary btn-sm" value="获取手机验证码" >
                    </div>
           
                 
               </div>
			    <span class="help-inline col-xs-12 col-sm-7 tips_color" > </span> </div>
              </div>

	   <div class="sysLine"> </div>
        <div class="layFooter">
            <button type="submit" class="btn btn-primary" >确定</button>
		    <button type="button" class="btn btn-default" onclick="exit()">取消</button>
        </div>
  </form>
</block>

<block name="script">
<script>
$().ready(function(){
   $("#changejfj").validate({
  rules:{

    yzm:{
      required:true,
      remote:{
       type:"post",
       url:"{:U("yzinfo_yzm")}",
       datType:"text",
       data:{
          yzm:function()
          {
           return $("#yzm").val();
        }
       }
      }
    },

    },
messages:{    
    yzm:{
      required:"请输入验证码",
      remote:"验证码输入有误或超时",
    },
  },
     
       errorPlacement: function(error, element) {    
          //错误信息位置设置方法  
             error.appendTo( element.closest(".form-group").find(".tips_color"));  //这里的element是录入数据的对象  
          },
submitHandler: function(form) 
{  //通过之后回调
     var param=$("#changejfj").serialize();
     $.ajax({
      url : "{:U("yzinfo_result")}",
      type : "post",
      dataType : "json",
      data: param,
      success : function(data) {
     if(data.result=="1")
     {
		 layer.msg('身份验证成功！', {
				  offset: 0,
				  shift: 6,
				  icon:1,
				},function()
				{ 
				parent.$('#flag').val('1').change();
			   parent.layer.closeAll();
			    
				//window.location.href="{:U('User/info')}"; 
			  // window.location.href="{:U('Index/index')}";
						
			  });


    
			   
       }else if(data.result =="-1"){
           layer.msg(data.message, {
			  offset: 0,
			  shift: 6,
			  icon:2,
			});
        }
    },//success结束
  error:function()
  {
    // window.location.href="/mq/login.html";
  }
 });//ajax结束
},
   invalidHandler: function(form, validator) {  //不通过回调
       return false;
   },
});
});//validate结束

//向服务器发送“获取验证码的请求”
$(function()
{
  $('#get_yzm').click(function()
  {
     $.ajax({
      type:"post",
    url:"{:U("getPhoneVerifycode")}",
    dataType:"json",
    data:"Get verification code",
    success:function(data)
    {
        if(data.data==0)
        {
          
        }  
    },
    error:function(data){
      // window.location.href="/mq/login.html";
    }
   })
  })
})

//获取验证码
   function showtime(t){
      $("#get_yzm").addClass("disabled");
    for(i=1;i<=t;i++){
       setTimeout("update_p("+i+","+t+")",i*1000);
    }
   }
   function update_p(num,t){
      if(num==t){
    $("#get_yzm").val("重新发送");
     $("#get_yzm").removeClass("disabled");
    }else{
       var printnr=t-num;
    $("#get_yzm").val("("+printnr+")秒后重新发送");

    }
   }



  //判断文本框是否为空
/*function checktext(id){
    if(document.getElementById(id).value.length==0){
      document.getElementById(id).focus();
      return false;
    }else{
      return true;
    }
}
function submitAddYg(){
         var txtUser=checktext('txtUser');
          if(txtUser==false)
           {
            layer.tips('账号不能为空！', '#txtUser');
              return false;
           }


      var param = $("#form_add_yg").serialize();
      $.ajax({
       url : "{:U("add_yg_set")}",
       type : "post",
       dataType : "json",
       data: param,
       success : function(data) 
       {
        
                   if(data.result==1)
                  {
                         layer.msg('添加成功', {
                                  offset: 0,
                                  shift: 6,
                                  icon:1,
                                },function(){ 
                              parent.location.reload();
                                            
                              });
                  }
                  else
                  {
                  
                                layer.msg(data.message, {
                              offset: 0,
                              shift: 6,
                              icon:2,
                            });
                  } 
       },
    });  


}*/
   function exit(){
        parent.layer.closeAll();
   }


</script>
</block>